<div class="container">
    <form [formGroup]="myForm" autocomplete="off">
        {{ myForm.value | json }}

        <div class="form-field">
            <div id="floatContainer" class="float-container">
                <label for="groupClassName">The Name of the Group Class</label>
                <input id="groupClassName" type="text" formControlName="name">
            </div>

            <mat-error *ngIf="name?.invalid && name?.touched">
                Name is Required
            </mat-error>
        </div>

        <div class="form-field">
            <div id="floatContainer" class="float-container-with-icon">
                <label for="date">Date</label>
                <input id="date" matInput [matDatepicker]="picker" formControlName="date">
                <mat-datepicker #picker></mat-datepicker>
                <mat-datepicker-toggle [for]="picker" class="dateIcon"></mat-datepicker-toggle>
            </div>

            <mat-error *ngIf="date?.invalid && date?.touched">
                Date is Required
            </mat-error>
        </div>
    </form>
</div>
