
<div class="all">
    <h2>Change Password</h2>

    <div class="container">    
        <div class="input">        
            <input 
            type="password"
            placeholder="Current Password"
            (ngModelChange)="warningReset()"
            [ngClass]="{'red': !isCurrentValid}"
            [(ngModel)]="currentPassword"
            appPasswordVisibility>
        </div>

        <div *ngIf="!isCurrentValid" class="warning margin-bottom">
            <p>Current password is not valid</p>
        </div>

        <div class="input">  
            <input 
            type="password"
            placeholder="New Password"
            [ngClass]="{'red': !isSame || (!isValid && isSame)}"
            [(ngModel)]="newPassword"
            appPasswordVisibility>
        </div>

        <div *ngIf="isSame && !isValid" class="warning margin-bottom">
            <p>New password is not valid</p>
        </div>

        <div class="input">  
            <input 
            type="password"
            placeholder="Repeat New Password"
            [ngClass]="{'red': !isSame}"
            [(ngModel)]="repeatPassword"
            appPasswordVisibility>
        </div>

        <div *ngIf="!isSame" class="warning">
            <p>Passwords are not the same</p>
        </div>

        <button (click)="onSaveNewPassword()">Save</button>
    </div>

</div>