
<div class="all">
    <h2>Change Password</h2>

    <div class="container">    
        <div class="input">        
            <input 
            type="password"
            placeholder="Current Password"
            [(ngModel)]="currentPassword"
            appPasswordVisibility>
        </div>

        <div class="input">  
            <input 
            type="password"
            placeholder="New Password"
            [(ngModel)]="newPassword"
            appPasswordVisibility>
        </div>
        
        <div class="input">  
            <input 
            type="password"
            placeholder="Repeat New Password"
            [(ngModel)]="repeatPassword"
            appPasswordVisibility>
        </div>

        <button>Save</button>
    </div>

</div>