
<div class="all">
    <h2>Change Password</h2>

    <form [formGroup]="passwordForm" class="container">
        <div class="margin-bottom" 
        [ngClass]="{'margin-bottom-0': warningOn && ( this.currentPassword.invalid || newAsOldPassword())}">
            <div class="input">        
                <input 
                formControlName="currentPassword"
                type="password"
                placeholder="Current Password"
                [ngClass]="{'red': warningOn && this.currentPassword.invalid}"
                appPasswordVisibility>
            </div>
            <div *ngIf="warningOn && this.currentPassword.invalid" class="warning">
                <img src="assets/forgot-password-icons/alert-triangle.svg"/>
                <p>{{getErrorMessage(currentPassword)}}</p>
            </div>
    
            <div *ngIf="warningOn && newAsOldPassword()" class="warning">
                <img src="assets/forgot-password-icons/alert-triangle.svg"/>
                <p>New password is the same as current</p>
            </div>
        </div>

        <div class="margin-bottom" 
        [ngClass]="{'margin-bottom-0': warningOn && this.newPassword.invalid}">
            <div class="input">        
                <input 
                formControlName="newPassword"
                type="password"
                placeholder="New Password"
                [ngClass]="{'red': warningOn && ( this.newPassword.invalid || !isSame())}"
                appPasswordVisibility>
            </div>

            <div *ngIf="warningOn && this.newPassword.invalid" class="warning">
                <img src="assets/forgot-password-icons/alert-triangle.svg"/>
                <p>{{getErrorMessage(newPassword)}}</p>
            </div>
        </div>

        <div class="margin-bottom" 
        [ngClass]="{'margin-bottom-0': warningOn && (this.repeatPassword.invalid || this.passwordForm.errors?.['matchError']) }">
            <div class="input">        
                <input 
                formControlName="repeatPassword"
                type="password"
                placeholder="Repeat New Password"
                [ngClass]="{'red': warningOn && (!isSame() || this.repeatPassword.invalid)}"
                appPasswordVisibility>
            </div>

            <div *ngIf="warningOn && this.repeatPassword.invalid" class="warning">
                <img src="assets/forgot-password-icons/alert-triangle.svg"/>
                <p>{{getErrorMessage(repeatPassword)}}</p>
            </div>

            <div *ngIf="warningOn && this.passwordForm.errors?.['matchError']" class="warning">
                <img src="assets/forgot-password-icons/alert-triangle.svg"/>
                <p>Password/Repeat password don’t match</p>
            </div>
        </div>

        <button (click)="onSaveNewPassword()">Save</button>
    </form>
</div>