<div>
    <div class="date">
        <div class="date-line"></div>
        <div class="day">
            {{
            message.date.getFullYear() === today.getFullYear() ?
                (getDateText(message.date)) :
                (message.date | date:'dd MMM, YYYY')
            }}
        </div>
    </div>
    <div *ngFor="let mess of message.messages" [ngClass]="{'message-photo': true, 'own-message': mess.createdBy === currentUser.id, 'not-own-message': mess.createdBy !== currentUser.id}">
        <img src="assets/header/avatar.svg" *ngIf="mess.createdBy !== currentUser.id" alt="img">
        <div class="message" [ngClass]="{ sender: mess.createdBy === currentUser.id }">
            <p class="message-content">{{ mess.text }}</p>
            <div class="message-time">
                    <span>
                        {{addTimeOffset(mess.createdAt.toString()) | date: 'HH:mm'}}
                    </span>
                <img src="assets/chat/ReadMessage.svg" alt="img" *ngIf="mess.createdBy === currentUser.id">
            </div>
        </div>
        <div class="avatar-div">
            <app-avatar
                [imageSize]="36"
                [firstName]="currentUser.firstName"
                [lastName]="currentUser.lastName"
                [imagePath]="currentUser.imagePath"
                *ngIf="mess.createdBy === currentUser.id">
            </app-avatar>
        </div>
    </div>
</div>
