@import 'src/styles/colors'

.message-photo
    display: flex
    width: 100%

.message
    width: 50%
    display: flex
    flex-direction: column
    align-items: flex-start
    margin: 10px
    padding: 10px 10px 3px
    border-radius: 0 10px 10px 10px
    background-color: $white

.message-time
    width: 100%
    display: flex
    justify-content: flex-end
    position: relative
    span
        bottom: -2px
        right: 16px
        position: absolute
        color: $blue-200
        font-size: 12px

.sender
    background-color: $message-color
    border-radius: 10px 0 10px 10px
    justify-content: flex-end

.date
    position: relative
    margin: 30px 0
    display: flex
    align-items: center
    justify-content: center

.date-line
    width: 100%
    height: 2px
    background-color: $inactive-color
    position: absolute

.day
    text-align: center
    z-index: 1
    background-color: $inactive-color
    padding: 5px 20px
    border-radius: 50px
    color: $blue-200
    font-weight: 500

.own-message
    justify-content: flex-end

.not-own-message
    .message-time span
        color: $gray-300
    span
        right: 0
