@import 'src/styles/colors'

*
    box-sizing: border-box

.card
    padding: 23px 26px
    background: $white
    border-radius: 10px
    display: flex
    flex-direction: column
    justify-content: space-between

.up
    display: flex
    flex-direction: column
    align-items: flex-start
    border-bottom: 1px solid $gray-200
    width: 100%
    gap: 10px

.left-area
    flex-direction: row
    gap: 15px
    display: flex
    width: 100%

.networks
    display: flex
    gap: 8px
    height: 24px
    justify-content: flex-end

.picture
    overflow: hidden
    width: 56px
    height: 56px
    border-radius: 5px
    font-size: 56px

.info
    display: flex
    flex-direction: column
    justify-content: space-between
    gap: 5px
    width: 80%

.name
    font-family: 'Barlow'
    font-style: normal
    font-weight: 700
    font-size: 18px
    color: $black-100

.country
    font-family: 'Barlow'
    font-style: normal
    font-weight: 500
    font-size: 16px
    display: flex
    align-items: center
    gap: 4px
    color: $gray-300
    img
        width: 24px
        height: 24px
        border-radius: 50%
        box-shadow: 0 0 1px 1px $gray-200

.culture
    overflow: hidden
    text-overflow: ellipsis
    display: -webkit-box
    -webkit-line-clamp: 1
    -webkit-box-orient: vertical
    
.img-wrap 
    position: relative
    height: 200px
    width: 257px

.img-wrap:hover .img-description 
    visibility: visible
    opacity: 1

.img-description 
    z-index: 10
    position: absolute
    width: fit-content
    padding: 2px 4px 2px 4px
    height: calc(100% + 4px)
    box-shadow: 1px 2px 5px 0px $turquoise-100
    border-radius: 15px
    top: calc(100% + 4px)
    bottom: 0
    left: 0
    right: 0
    background: $blue-200
    color: $white
    visibility: hidden
    opacity: 0
    transition: opacity .2s, visibility .2s

.flag
    height: 25px
    border-radius: 15px

.social-icon
    position: relative
    height: 22px
    width: 22px
    background-color: $turquoise-100
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    padding: 0
    stroke-width: 1.5
    stroke: $blue-200
    img
        height: 24px
        width: 24px
        border-radius: 50%
        box-shadow: 0 0 1px 1px $gray-200

.fill-remaining-space
    flex: auto

.user-general-info
    display: flex
    justify-content: space-between
    align-items: flex-start
    gap: 11px
    width: 100%

.tags
    display: flex
    align-items: center
    gap: 5px
    max-width: 400px
    height: 2.5em
    flex-wrap: wrap
    overflow-y: auto
    padding-bottom: 13px
    overflow-x: hidden


.tag
    display: flex
    justify-content: center
    align-items: center
    background: $pink-100
    border-radius: 50px
    padding: 3px 8px
    font-family: 'Barlow'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 146%
    color: $blue-200
    width: max-content

.bottom
    display: flex
    justify-content: space-between
    align-items: center
    gap: 20px
    padding-top: 15px

.progress-container
    display: flex
    align-items: center
    gap: 10px
    color: $gray-200

.progress
    display: flex
    gap: 5px
    font-family: 'Barlow'
    font-style: normal
    font-weight: 500
    font-size: 16px

.buttons
    display: flex
    align-items: center
    gap: 10px

.button
    display: flex
    justify-content: center
    align-items: center
    gap: 4px
    font-style: normal
    font-weight: 700
    font-size: 14px
    text-align: center
    color: $blue-200
    background: $white
    border: 1px solid $blue-200
    border-radius: 24px
    padding: 8px 12px
    &:hover
        cursor: pointer
        box-shadow: 0px 1px 3px -2px $selected-color

.button-gray
    background: $gray-200

.accept-button
    color: white
    background: $blue-200
