
<div class="card">
    <div class="up">
        <div class="user-general-info">
            <div class="left-area">
                <div class="picture">
                    <app-avatar
                        [firstName]="getUserFirstName()"
                        [lastName]="getUserLastName()"
                        [imagePath]="user.imagePath"
                        [imageSize]="56"></app-avatar>
                </div>

                <div class="info">
                    <div class="name">{{ user.name }}</div>
                    <div class="country">
                        <img src="{{userCountryFlag}}"/>
                        <div class="culture">{{ user.country }}</div>
                    </div>
                </div>
            </div>

            <div class="networks">
                <div class="social-icon img-wrap">
                    <img src="{{userLanguageFlag}}"/>
                    <div class="img-description">{{user.language}}</div>
                </div>
                <div class="social-icon">
                    <img src="assets/user-card-icons/great-britain.svg" alt="instagram-icon" />
                </div>
            </div>
        </div>
        <div class="tags">
            <div class="tag" *ngFor="let t of user.tags">
                <span>{{ t }}</span>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="progress-container">
            <div class="progress">
                <app-round-progress-bar [status]="user.status ?? 0"></app-round-progress-bar>
                <div>{{ user.status ?? 0 }}%</div>
            </div>
            <div class="progress">
                <img src="assets/user-card-icons/rocket-icon.svg" alt="rocket" />
                <div>{{ user.languageLevel }}</div>
            </div>
        </div>
        <div class="buttons">
            <button (click)="buttonGoToMessage()" class="button">
                <img src="assets/user-card-icons/message.svg" alt="book" />
                <span>Message</span>
            </button>
            <button (click)="buttonFollow()" class="button" [ngClass]="{'button-gray' : isFriend}">
                <img *ngIf="!isFriend" src="assets/user-card-icons/follow-icon.svg" alt="follow" />
                <span *ngIf="isFriend">Added to friends</span>
                <span *ngIf="!isFriend">Add to Friends</span>
            </button>
        </div>
    </div>
</div>
