<div class="card">
    <div class="up">
        <div class="up_2">
            <div class="left">
                <div class="picture">
                    <span class="picture-placeholder">Photo</span>
                </div>

                <div class="info">
                    <div class="name">{{user.name}}</div>
                    <div class="country">
                        <img class="flag" src="assets/user-card-icons/canada-flag.svg">
                        <div class="culture">{{user.country}}/{{user.language}}</div>
                    </div>
                </div>
            </div>
            <div class="networks">
                <div class="social-icon">
                    <img src="assets/user-card-icons/facebook.svg" alt="facebook-icon">
                </div>
                <div class="social-icon">
                    <img src="assets/user-card-icons/instagram.svg"
                         alt="instagram-icon">
                </div>
            </div>
        </div>
        <div class="tags">
            <div class="tag" *ngFor="let t of user.tags">
                <span>{{t}}</span>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="progress-container">
            <div class="progress">
                <div class="spinner-container">
                    <div class="spinner-background"></div>
                    <mat-progress-spinner [value]="user.status" mode="determinate" [diameter]="20">
                    </mat-progress-spinner>
                </div>
                <div>{{ user.status }}%</div>
            </div>
            <div class="progress">
                <img src="assets/user-card-icons/rocket-icon.svg" alt="rocket">
                <div>{{ user.languageLevel }}</div>
            </div>
        </div>
        <div class="buttons">
            <button class="button">
                <img src="assets/user-card-icons/clock-icon.svg" alt="book">
                <span>Book</span>
            </button>
            <button class="button">
                <img src="assets/user-card-icons/follow-icon.svg" alt="follow">
                <span>Follow</span>
            </button>
        </div>
    </div>
</div>
