
<div class="card">
    <div class="up">
        <div class="user-general-info">
            <div class="left-area">
                <div class="picture">
                    <app-avatar
                        [firstName]="getUserFirstName()"
                        [lastName]="getUserLastName()"
                        [imagePath]="user.imagePath"
                        [imageSize]="56"></app-avatar>
                </div>

                <div class="info">
                    <div class="name">{{ user.name }}</div>
                    <div class="country">
                        <img src="{{userCountryFlag}}"/>
                        <div appTooltipWhenOverflow class="culture">{{ user.country }}</div>
                    </div>
                </div>
            </div>

            <div class="networks">
                <div class="social-icon img-wrap">
                    <img src="{{userLanguageFlag}}"/>
                    <div class="img-description">{{user.language}}</div>
                </div>
                <div class="social-icon">
                    <img src="assets/user-card-icons/great-britain.svg" alt="instagram-icon" />
                </div>
            </div>
        </div>
        <div class="tags">
            <div class="tag" *ngFor="let t of user.tags">
                <span>{{ t }}</span>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="progress-container" *ngIf="user.userFriendshipStatus !== eUserFriendshipStatus.Friend">
            <div class="progress">
                <app-round-progress-bar [status]="user.compatibility"></app-round-progress-bar>
                <div>{{ user.compatibility}}%</div>
            </div>
            <div class="progress">
                <img src="assets/user-card-icons/rocket-icon.svg" alt="rocket" />
                <div>{{ user.languageLevel }}</div>
            </div>
        </div>
        <div *ngIf="user.userFriendshipStatus === eUserFriendshipStatus.Regular" class="buttons">
            <button (click)="buttonGoToMessage()" class="button hover">
                <img src="assets/user-card-icons/message.svg" alt="book" />
                <span>Message</span>
            </button>
            <button (click)="onFollowClick()" class="button hover">
                <img src="assets/user-card-icons/follow-icon.svg" alt="follow" />
                <span>Add to Friends</span>
            </button>
        </div>
        <div *ngIf="user.userFriendshipStatus === eUserFriendshipStatus.Acceptor" class="buttons">
            <button class="button hover">
                <img src="assets/user-card-icons/mail.svg" alt="message">
                <span>Message</span>
            </button>
            <button class="button" disabled>
                <img src="assets/user-card-icons/follow-icon.svg" alt="follow">
                <span>Pending request</span>
            </button>
        </div>
        <div *ngIf="user.userFriendshipStatus === eUserFriendshipStatus.Requester" class="buttons">
            <button class="button accept-button hover" (click)="onAcceptClicked()">
                <img src="assets/user-card-icons/accept.svg" alt="message">
                <span>Accept</span>
            </button>
            <button class="button hover" (click)="onRejectClicked()">
                <img src="assets/user-card-icons/cancel.svg" alt="follow">
                <span>Cancel</span>
            </button>
        </div>
        <div *ngIf="user.userFriendshipStatus === eUserFriendshipStatus.Friend" class="one-button-in-card">
            <button class="button hover">
                <img src="assets/user-card-icons/mail.svg" alt="message">
                <span>Message</span>
            </button>
        </div>
    </div>
</div>
