.requests-header
    padding-block: 1em
    text-align: center

.user-grid
    display: flex
    flex-direction: column
    gap: 1em
    align-items: center

.user-card
    width: 80vw

.block
    margin-top: 80px
