@import src/app/modules/auth/auth-page/auth-page.component

#has-account
    position: absolute
    width: 100%
    display: flex
    justify-content: center
    bottom: 30px
    span
        color: $gray-300
    a
        text-decoration: none
        color: $turquoise-100
        margin-left: 10px

.form-content
    display: grid
    grid-template-rows: repeat(3, 5vh)
    grid-template-columns: 24vw
    gap: 20px

input.ng-touched.ng-valid
    box-shadow: 0px 2px 6px $turquoise-100
    outline-width: 0

.submitted
    box-shadow: 0px 2px 6px $error-color
    outline-width: 0

#forgot-password
    display: flex
    justify-content: center
    text-decoration: none
    color: $turquoise-100
