@import src/app/modules/auth/auth-page/auth-page.component

#has-account
    position: absolute
    width: 100%
    display: flex
    justify-content: center
    bottom: 30px
    span
        color: $gray-300
    a
        text-decoration: none
        color: $turquoise-100
        margin-left: 10px

.form-content
    display: grid
    grid-template-rows: repeat(3, 5vh)
    grid-template-columns: 24vw
    gap: 20px
//
//input:invalid
//    box-shadow: 0 1px 4px $error-color

//input[type='email']:invalid
//    box-shadow: 0 1px 4px $error-color
//
//input[type='password']:invalid
//    box-shadow: 0 1px 4px $error-color

input.ng-touched.ng-invalid
    box-shadow: 0px 2px 6px $error-color
    outline-width: 0

input.ng-touched.ng-valid
    box-shadow: 0px 2px 6px $turquoise-100
    outline-width: 0
