<form [formGroup]="myForm" novalidate (ngSubmit)="submit()">

    <div class="form-group">
        <label>Email</label>
        <input class="form-control" name="email" formControlName="userEmail" />

        <div class="alert alert-danger"
             *ngIf="myForm.controls['userEmail'].invalid && myForm.controls['userEmail'].touched">
            Некорректный email
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-default" [disabled]="myForm.invalid">
            Отправить
        </button>
    </div>
</form>
