<div class="container">
    <div class="form-wrp">
        <h1>Sign In</h1>
        <form #userLoginForm="ngForm"
              [formGroup]="form"
              class="form-content"
              (ngSubmit)="signIn()"
              [ngClass]="{'submitted': isSubmitted}">
            <div class="form-group-item">
                <input
                    formControlName="email"
                    placeholder="Email"
                    value="{{this.email}}"
                    (focus)="ClearErrors()"/>
                <div class="errors-wrp" *ngIf="isSubmitted">
                    <mat-error class="error"
                               *ngIf="(email.errors?.['lengthValidator'] && email.touched) || email.pristine ">
                        <img src="/assets/user-profile/alert-triangle.svg" alt="">
                        {{GetErrorMessageByKey('emailLength')}}
                    </mat-error>
                    <mat-error class="error" *ngIf="(email.errors?.['pattern'] || email.errors?.['emailNotFound'])">
                        <img src="/assets/user-profile/alert-triangle.svg" alt="">
                        {{GetErrorMessageByKey('emailNotFound')}}
                    </mat-error>
                </div>
            </div>

            <div class="form-group-item">
                <input formControlName="password"
                       placeholder="Password"
                       appPasswordVisibility
                       (focus)="ClearErrors()"/>
                <div class="errors-wrp" *ngIf="isSubmitted">
                    <mat-error class="error"
                               *ngIf="(password.errors?.['lengthValidator'] && password.touched) || password.pristine">
                        <img src="/assets/user-profile/alert-triangle.svg" alt="">
                        {{GetErrorMessageByKey('passwordLength')}}
                    </mat-error>
                    <mat-error class="error"
                               *ngIf="password.errors?.['pattern'] || password.errors?.['wrongPassword'] ">
                        <img src="/assets/user-profile/alert-triangle.svg" alt="">
                        {{GetErrorMessageByKey('passwordIncorrect')}}
                    </mat-error>
                </div>
            </div>

            <button class="submit-btn"
                mat-button type="submit">
                Sign In
            </button>
        </form>
    </div>
    <div id="has-account">
        <span>I don't have an account! </span>
        <a href="auth/sign-up">Sign Up</a>
    </div>
</div>
