@import "src/styles/colors"

.main
    display: flex
    flex-direction: column
    align-items: center
    background-color: $white

.container
    display: flex
    flex-direction: column
    background-color: $gray-100
    border-radius: 15px
    padding: 20px 0px 30px 0px
    width: 100%

.header
    height: 105px

.button-week
  display: flex
  justify-content: center
  align-items: center
  padding-top: 8px
  padding-bottom: 8px
  color: $black-100
  background-color: $white
  border: none
  border-radius: 18px
  text-align: center
  font-size: 14px
  height: 35px
  width: 120px
  mat-icon
    color: $blue-200
    transform: scale(1.5)

.button-week
    &:hover
        background-color: $turquoise-100

.days
    display: grid
    grid-auto-flow: column
    grid-column-gap: 15px
    overflow-x: auto
    margin: 0 30px 0 35px

.choose-day
    display: flex
    justify-content: space-between
    align-self: flex-start
    align-items: center
    margin-left: 35px

.button-icon
    border-width: 0
    height: 28px
    background-color: $white
    color: $blue-200
    &:hover
        color: $turquoise-100

.calendar-block
    display: flex
    align-items: center
    height: 35px
    background-color: $white
    border-radius: 18px
    padding: 0 15px
    margin: 15px
