<div class="main">
    <div class="header">
        <h1>Find a Suitable Lesson</h1>
    </div>

    <div class="container">
        <div class="choose-day">
            <button class="button-week" (click)="weekDec()">
                <mat-icon>keyboard_arrow_left</mat-icon>
                Last Week
            </button>

            <div class="calendar-block">
                <div class="button-icon">
                    <img src="assets\calendar\calendar.svg" />
                </div>

                {{ days[0].date | date: 'dd MMMM' }} - {{ days[6].date | date: 'dd MMMM yyyy' }}

            </div>

            <button class="button-week" (click)="weekInc()">
                Next Week
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>

        <div class="days">
            <app-suitable-lesson-day
                *ngFor="let day of days"
                [meetingCount]="day.meetingsAmount"
                [item]="day.date"
                [selectedDate]="selectedDate"
                (dateSelected)="onDateSelected($event)">
            </app-suitable-lesson-day>
        </div>
    </div>
</div>
