@import "src/styles/colors"

.main
    display: flex
    flex-direction: column
    align-items: center
    background-color: $white

.container
    display: flex
    flex-direction: column
    background-color: $gray-100
    border-radius: 15px
    padding: 25px 0px
    width: 100%

.header 
    height: 105px

.button-week 
  display: flex
  justify-content: center
  align-items: center
  padding-top: 8px
  padding-bottom: 8px
  color: $black
  background-color: $white
  border: none
  border-radius: 18px
  text-align: center
  font-size: 14px
  height: 35px
  width: 120px
  mat-icon
    color: $main-color
    transform: scale(1.5)

.button-week 
    &:hover
        background-color: $selected-color

.days
    display: flex
    flex-direction: row
    margin-left: 20px
    overflow-x: auto

.choose-day
    display: flex
    justify-content: space-between
    align-self: flex-start
    align-items: center
    margin-left: 25px

.button-icon
    border-width: 0
    height: 28px
    background-color: $white
    color: $main-color
    &:hover
        color: $selected-color
        
.calendar-block
    display: flex
    align-items: center
    height: 35px
    background-color: $white
    border-radius: 18px
    padding: 0 15px
    margin: 15px
    