<div class="main">
    <div class="header">
        <h1>Find a Suitable Lesson</h1>
    </div>

    <div class="container">
        <div class="choose-day">
            <button class="button-week" (click)="weekDec()">
                <mat-icon>keyboard_arrow_left</mat-icon>
                Last Week
            </button>

            <div class="calendar-block">
                <button class="button-icon" [matMenuTriggerFor]="appMenu">
                    <img src="assets\calendar\calendar.svg">
                </button>
                <mat-menu #appMenu="matMenu">
                    <mat-calendar #calendar (selectedChange)="select($event)"> </mat-calendar>
                </mat-menu>

                {{ days[0].date.toLocaleDateString() }} - {{ days[6].date.toLocaleDateString() }}
            </div>

            <button class="button-week" (click)="weekInc()">
                Next Week
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>

        <div class="days">
            <app-suitable-lesson-day *ngFor="let day of days" [meetingCount]="day.meetingsCount" [item]="day.date" (dateSelected)="onDateSelected($event)">
            </app-suitable-lesson-day>
        </div>
    </div>
</div>
