@import "src/styles/colors"

.header-wrp
    position: fixed
    top: 0
    background: $white
    color: $black-100
    padding: 0
    box-shadow: 0 2px 4px 2px rgba(71, 83, 108, 0.06)
    box-sizing: border-box
    width: 100%
    height: 80px
    z-index: 1000

.header
    display: flex
    justify-content: space-between
    padding: 0 56px 0 63px
    height: 100%
    width: 100%

.header-content
    display: flex
    width: 33%
    flex-direction: row
    align-items: center
    height: 100%
    &:focus
        outline: none

.main-area
    justify-content: center

.right-area
    justify-content: right

.title img
    height: 35px

.avatar-size
    height: 36px
    border-radius: 50%

.title img
    padding-right: 10px
    height: 35px
    width: 30px

.title
    font-weight: 700
    font-size: 18px
    line-height: 146%
    &:hover
      cursor: pointer

.subscription
    background: $blue-200
    color: $white
    width: 155px
    height: 34px
    border: none
    border-radius: 17px
    font-weight: 700
    font-size: 14px
    line-height: 146%
    &:hover
      cursor: pointer

.main-area p
    margin: 0 10px
    font-weight: 500
    font-size: 16px
    line-height: 150%
    &:hover
      cursor: pointer

.active
    color: $blue-200
    border-bottom: 2px solid

.disabled
    color: $gray-300

.remaindings
    display: flex

.reminding
    background: $gray-100
    color: red
    border-radius: 50px
    height: 36px
    position: relative
    width: 36px
    margin: 0 10px

.reminding img
    margin: 0
    position: absolute
    top: 50%
    left: 50%
    -ms-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)
    &:hover
      cursor: pointer

.user-area
    display: flex
    align-items: center
    padding-left: 20px
    &:hover
      cursor: pointer

.user-area span
    padding: 0 10px
    font-weight: 500
    font-size: 16px
    line-height: 150%

.menu-element
    display: flex
    justify-content: flex-start
    align-items: center
    min-height: 28px

.menu-icon
    padding-right: 10px
    width: 18px

.menu-text
    font-weight: 400
    font-size: 14px
    line-height: 146%

.log-out
    color: $blue-200
    font-weight: 700
    font-size: 14px
    line-height: 146%

.mat-badge-content
    background: $turquoise-100
    color: $blue-200

::ng-deep .mdc-list-item__primary-text
    display: flex
    align-items: center

::ng-deep.cdk-overlay-container .notifications-menu
    margin-top: 0.5em

::ng-deep.cdk-overlay-container .user-menu
    margin-top: 0.5em