<mat-toolbar class="header-wrp">
    <div class="header">
        <div class="header-content left-area">
            <div class="header-content title" [routerLink]="['/']">
                <img src="/assets/logo/logo.svg" />
                EasySpeak
            </div>
        </div>
        <div class="header-content main-area">
            <p
                routerLink="/social"
                routerLinkActive="active"
                #link="routerLinkActive"
                [class.disabled]="!link.isActive">
                Social
            </p>
            <p
                routerLink="/timetable"
                routerLinkActive="active"
                #linkTimetable="routerLinkActive"
                [class.disabled]="!linkTimetable.isActive">
                Timetable
            </p>
        </div>
        <div class="header-content right-area">
            <div class="remaindings">
                <div matBadge="1" class="reminding" routerLink="/chat">
                    <img src="/assets/header/mail-icon.svg"  alt="image"/>
                </div>
                <div [matMenuTriggerFor]="notifications" class="remaindings">
                    <div
                        matBadge="{{ notificationsMenu.notifications.length }}"
                        [matBadgeHidden]="!notificationsMenu.notifications.length"
                        class="reminding">
                        <img src="/assets/header/notification-icon.svg" />
                    </div>
                    <mat-menu class="notifications-menu" #notifications="matMenu" xPosition="after">
                        <app-user-notification #notificationsMenu> </app-user-notification>
                    </mat-menu>
                </div>
            </div>
            <div [matMenuTriggerFor]="menu" class="user-area">
                <div class="user-avatar-placeholder">
                    <app-avatar
                        [firstName]="currentUser.firstName"
                        [lastName]="currentUser.lastName"
                        [imagePath]="currentUser.imagePath"
                        [imageSize]="36">
                    </app-avatar>
                </div>
                <span>{{ currentUser.firstName }} {{ currentUser.lastName }}</span>
                <img src="/assets/header/chevron-down-icon.svg" />
                <mat-menu class="user-menu" #menu="matMenu" xPosition="before">
                    <button mat-menu-item class="menu-element">
                        <img class="menu-icon" src="/assets/header/following-icon.svg" />
                        <span class="menu-text">Following</span>
                    </button>
                    <button [routerLink]="['/profile/details']" mat-menu-item class="menu-element">
                        <img class="menu-icon" src="/assets/header/user-profile.svg" />
                        <span class="menu-text">User details</span>
                    </button>
                    <button mat-menu-item class="menu-element">
                        <img class="menu-icon" src="/assets/header/my-subscription-icon.svg" />
                        <span class="menu-text">My Subscription</span>
                    </button>
                    <button mat-menu-item class="menu-element">
                        <img class="menu-icon" src="/assets/header/lock-icon.svg" />
                        <span class="menu-text">Change Password</span>
                    </button>
                    <button mat-menu-item class="menu-element" (click)="logOut()">
                        <img class="menu-icon" src="/assets/header/log-out.svg" alt="logOut" />
                        <span class="menu-text log-out">Log Out</span>
                    </button>
                    <div mat-menu-item>
                        <button class="subscription">Subscription</button>
                    </div>
                </mat-menu>
            </div>
        </div>
    </div>
</mat-toolbar>
