$pink-100: #F8D5E8
$white: #FFFFFF
$turquoise-100: #61D4F6
$blue-200: #1C2FBA
$blue-100: #E0E2F2

$dark-blue:#080E39

$black-100: #0B080A
$gray-300: #6C707A
$gray-200: #CBC9D0
$gray-100: #F6F5FA

$inactive-font: #B5B7C4
$inactive-color: #E0E2F2
$inactive-label: #C9CBDA







