@import '../../../../styles/colors'
@font-face 
  font-family: "mainfont"
  src: url("../../../../assets/fonts/Barlow-Medium.ttf") format("truetype")

.day-elem
    display: flex
    flex-direction: column
    align-content: center
    align-items: center
    justify-content: center
    color: $black
    background-color: $white
    margin: 8px
    width: 167px
    height: 115px
    border-radius: 10px
    h2
        margin: 0
        margin-bottom: 10px
        margin-top: 5px
    
.day-elem-blue
    background-color: $main-color
    color: $white

.day-elem-grey
    background-color: $inactive-color
    color: $inactive-font

.mettings
    display: flex
    justify-content: center
    align-items: center
    background-color: $accent-color
    color: $main-color
    font-size: 18px
    border-radius: 15px
    text-align: center
    font-size: 12px
    margin-right: 5px
    height: 24px
    width: 77px

.mettings-grey
    background-color: $inactive-label
    color: $inactive-color

.labels
    display: flex
    flex-direction: row
    
.today-label
    width: 50px
    height: 24px


    