@import 'src/styles/colors'

.container
    background: $gray-100
    margin: auto
    padding: 30px 55px

.create-lesson-button
    width: 195px
    height: 45px

    border-radius: 50px
    border: none
    background-color: $blue-200

    color: $white
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 150%
    text-align: center

    cursor: pointer

.date-container
    display: flex
    justify-content: center

.date
    display: flex
    justify-content: center
    align-items: center

    padding: 8px 30px 8px 40px

    background: $inactive-color
    border-radius: 5px

    font-style: normal
    font-weight: 700
    font-size: 24px
    line-height: 146%

    color: $blue-200

.lessons-section
    display: flex
    flex-direction: row
    justify-content: space-between
    gap: 55px

.lessons-column
    display: flex
    flex-direction: column
    width: calc( (100% - 55px) / 2 )

.no-lessons
    display: flex
    justify-content: center
    text-align: center
    align-items: center
    height: 185px

    margin-top: 30px
    padding: 8px 30px 8px 40px

    border-radius: 5px

    font-style: normal
    font-weight: 700
    font-size: 24px
    line-height: 146%

    color: $blue-200
