@import '../../../../styles/colors'
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap')

*
    margin: 0

.container
    width: 75%
    height: 1125px
    background: $gray-100
    margin: auto
    padding: 0 57px

.date
    font-family: 'Barlow'
    font-style: normal
    font-weight: 700
    font-size: 18px
    line-height: 146%

    display: flex
    align-items: center

.lessons-section
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 57px

.card
    box-sizing: border-box

    height: 187px
    margin: 30px 0
    padding: 23px 31px 23px 26px

    background: $white
    border-radius: 10px

.photo
    position: relative
    display: inline-block

    width: 128px
    height: 97px

    margin-right: 15px

.photo img
    width: 128px
    height: 97px
    border-radius: 5px

.circle
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.play
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.info
    display: inline-block
    vertical-align: top

.lesson-theme
    vertical-align: top

    font-family: 'Barlow'
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 150%

    color: $black

.lesson-tutor
    position: relative

    margin: 5px 0 9px 0

.avatar
    display: inline-block

    width: 20.62px
    height: 20.62px

    border-radius: 50%

.origin
    position: absolute

    background-color: $white

    border-radius: 90%

    left: 13px
    top: 11px

.tutor-name
    display: inline-block
    vertical-align: top

    margin-left: 6px

    font-family: 'Barlow'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 146%

    color: $gray-300

.lesson-topics
    grid-auto-flow: column
    gap: 5px
    max-width: 348px
    display: grid

    overflow-x: auto
    overflow-y: hidden

.lesson-topics::-webkit-scrollbar
    display: none

.topic
    display: inline-block

    padding: 1px 6px 2px 6px
    background: $accent-color

    border-radius: 10px
    font-family: 'Barlow'
    font-style: normal
    font-weight: 500
    font-size: 12px
    line-height: 146%


    color: $main-color

.divider
    margin-top: 11px
    border: 1px solid $gray-200

.lesson-viewers
    display: inline-block
    vertical-align: top
    margin-top: 14px

.count
    vertical-align: top

    margin-left: 6px

    font-family: 'Barlow'
    font-style: normal
    font-weight: 500
    font-size: 12px
    line-height: 146%

    color: $gray-200

.lesson-actions
    display: inline-block

.join
    display: inline-block

    width: 59px
    height: 25px

    margin: 8px 10px 23px 395px

    background: $main-color
    border: none
    border-radius: 50px

    font-family: 'Barlow'
    font-style: normal
    font-weight: 500
    font-size: 12px
    line-height: 146%

    color: $white

.join:disabled, .join[disabled]
    width: 59px
    height: 25px

    margin: 8px 10px 23px 395px

    background: $gray-200

.expand
    display: inline-block

    margin-right: 7.5px

    font-family: 'Barlow'
    font-style: normal
    font-weight: 500
    font-size: 12px
    line-height: 146%

    text-decoration: none
    color: #5B8DEF
