.spinner-container
    position: relative
    display: flex
    justify-content: center
    align-items: center

.spinner-background
    position: absolute
    border: 2px solid $gray-100
    border-radius: 50%
    width: 93%
    height: 93%
