<div class="container">
    <div class="header-section">
        <div class="title">
            Notification
        </div>
        <a class="clear-button" href="#">
            Mark as read
        </a>
    </div>
    <div class="notifications" *ngIf="notifications">
        <div class="notification-element" *ngFor="let notification of notifications" (click)="readNotification(notification)">
            <div class="notification-element-content">
                <div class="author-icon-wrp">
                    <img src="/assets//user-profile/man-technologist.svg" class="aurhor-icon">
                </div>
                <div class="notification-text-wrp">
                    <div class="notification-text">{{notification.text}}</div>
                    <div class="notification-timespan">
                        {{timespan}}
                    </div>
                </div>
            </div>
            <div class="unread-indicator-wrp">
                <div class="unread-indicator"></div>
            </div>
        </div>
    </div>
    <div class="notifications" *ngIf="!(notifications.length > 0)">
        <button class="notification-element">
            <span class="notification-text">There are no notifications</span>
        </button>
    </div>
</div>
