<div class="notifications" *ngIf="notifications.length > 0">
    <div class="notification-element" *ngFor="let notification of notifications">
        <button class="notification-element" (click)="readNotification(notification)">
            <span class="notification-text">{{ notification.text }}</span>
        </button>
    </div>
</div>
<div class="notifications" *ngIf="!(notifications.length > 0)">
    <button class="notification-element">
        <span class="notification-text">There are no notifications</span>
    </button>
</div>
