<div class="left-elements">
    <h1>Change Password</h1>

    <div class="input-password">
        <input type="password"
        [(ngModel)]="password"
        placeholder="Password"
        appPasswordVisibility/>
    </div>
    
    <div class="input-password">
        <input
            type="password"
            [ngClass]="{'red' : !passwordIsMatch}"
            [(ngModel)]="repeatPassword"
            placeholder="Repeat The Password" 
            appPasswordVisibility/>
    </div>

    <div *ngIf="!passwordIsMatch" class="password-is-match">
        <img src="assets/forgot-password-icons/alert-triangle.svg"/>
        Password is not valid
    </div>

    <div *ngIf="!responseIsOk" class="password-is-match">
        <img src="assets/forgot-password-icons/alert-triangle.svg"/>
        Error, somthing goes wrong
    </div>

    <button class="button-reset" (click)="isSame()"><h3>Change Password</h3></button>
</div>
