<div class="left-elements">
    <h1>Change Password</h1>
    <div class="input-password">
        <input type="{{ showPassword ? 'text' : 'password' }}" [(ngModel)]="password" placeholder="Password" />
        <button (mousedown)="togglePassword(true)" (mouseup)="togglePassword(false)">
            <img src="assets/forgot-password-icons/eye-off.svg" />
        </button>
    </div>
    <div class="input-password">
        <input
            [ngClass]="{'red' : !passwordIsMatch}"
            type="{{ showRepeatPassword ? 'text' : 'password' }}"
            [(ngModel)]="repeatPassword"
            placeholder="Repeat The Password" />
        <button (mousedown)="toggleRepeatPassword(true)" (mouseup)="toggleRepeatPassword(false)">
            <img src="assets/forgot-password-icons/eye-off.svg" />
        </button>

    </div>

    <div *ngIf="!passwordIsMatch" class="password-is-match">
        <img src="assets/forgot-password-icons/alert-triangle.svg"/>
        Password is not valid
    </div>
    <div *ngIf="!responseIsOk" class="password-is-match">
        <img src="assets/forgot-password-icons/alert-triangle.svg"/>
        Error, somthing goes wrong
    </div>

    <button class="button-reset" (click)="isSame()"><h3>Change Password</h3></button>


</div>
