@import "src/styles/colors"

.all
    background-color: $white

button
    width: 130px
    height: 45px
    border: 1px solid $blue-200
    border-radius: 23px
    color: $blue-200
    cursor: pointer

    h3
        font-weight: 500
        font-size: 16px
        line-height: 150%

    &:hover
        box-shadow: 0px 2px 4px rgba($turquoise-100, 1)

.sign-up
    background-color: $blue-200
    color: $white
    margin-right: 15px

.header
    display: flex
    justify-content: space-between
    align-items: center
    background-color: $white
    height: 80px
    z-index: 10000
    position: sticky
    top: 0
    box-shadow: 0 2px 4px 2px rgba(71, 83, 108, 0.06)

    .logo
        margin-left: 150px
        display: flex
        justify-content: center
        align-content: center
        h2
            margin-left: 6px
        img
            height: 30px

    .buttons-header
        margin-right: 150px
        h4
            font-size: 16px
            font-weight: 700
            line-height: 20.5px
        button
            width: 116px
            height: 34px
            border: 1px solid $blue-200
            border-radius: 17px

        .sign-in
            margin-right: 10px
            background-color: $white
            color: $blue-200
        .sign-up
            background-color: $blue-200
            color: $white

.info-block-1-home
    display: flex
    justify-content: center
    align-content: center
    height: 60vh
    background: linear-gradient($gray-200 0%, $white 5px)

    .left-block
        display: flex
        justify-content: flex-end
        align-items: center
        width: 50%
        h1
            margin-bottom: 23px
            font-size: 52px
        h3
            font-weight: 500
            font-size: 16px
            line-height: 24px
        label
            color: $gray-300
            font-size: 16px
        .buttons-home
            margin-top: 23px
            button
                width: 154px

    .right-block
        position: relative
        width: 50%
        height: 100%
        background: repeating-linear-gradient(75deg, $white, $pink-100 2px, rgba($pink-100 , 0%) 4px, rgba($white, 0%) 190px), repeating-linear-gradient(165deg, $white, $pink-100 1px, rgba($pink-100 , 0%) 4px, rgba($white, 0%) 190px)

    .radius-small
            position: absolute
            background-color: $inactive-color
            width: calc(55px / 1080px * 100vh)
            height: calc(55px / 1080px * 100vh)
            border-radius: 50%
            padding: calc(16px / 1080px * 100vh)
            top: calc(50% - 43.5px / 1080px * 100vh)
            img
                position: absolute
                width: calc(55px / 1080px * 100vh)
                height: calc(55px / 1080px * 100vh)

    .radius-medium
            position: absolute
            background-color: rgba($turquoise-100, 0.4)
            width: calc(89px / 1080px * 100vh)
            height: calc(89px / 1080px * 100vh)
            border-radius: 50%
            padding: calc(20.5px / 1080px * 100vh)
            padding-right: calc(16.5px / 1080px * 100vh)
            padding-left: calc(24.5px / 1080px * 100vh)
            img
                position: absolute
                width: calc(82px / 1080px * 100vh)
                height: calc(82px / 1080px * 100vh)

    .radius-big
        position: absolute
        background-color: $turquoise-100
        width: calc(96px / 1080px * 100vh)
        height: calc(96px / 1080px * 100vh)
        border-radius: 50%
        padding: calc(27px / 1080px * 100vh)
        img
            position: absolute
            width: calc(95px / 1080px * 100vh)
            height: calc(95px / 1080px * 100vh)

    .leaf
        top: calc(30% - 75px / 1080px * 100vh)
        left: calc(35% - 75px / 1080px * 100vh)
        border-radius: 500px 500px 500px 0
        transform: rotate(-45deg)
        img
            transform: rotate(45deg)

    .dna
        top: calc(70% - 75px / 1080px * 100vh)
        left: calc(65% - 75px / 1080px * 100vh)
        border-radius: 500px 500px 500px 0
        transform: rotate(135deg)
        img
            transform: rotate(-135deg)

    .drum
        top: calc(50% - 65px / 1080px * 100vh)
        left: calc(50% - 65px / 1080px * 100vh)

    .sandwich
        top: calc(70% - 65px / 1080px * 100vh)
        left: calc(35% - 65px / 1080px * 100vh)

    .clapper-board
        top: calc(30% - 65px / 1080px * 100vh)
        left: calc(65% - 65px / 1080px * 100vh)

    .kite
        left: calc(78% - 43.5px / 1080px * 100vh)

    .face
        left: calc(22% - 43.5px / 1080px * 100vh)

.topics
    background-color: $blue-200
    height: 330px
    display: flex
    justify-content: center
    align-items: center

    .topic-containers
        display: grid
        grid-auto-flow: column
        column-gap: 25px

    .container
        width: 202px
        height: 192px
        padding: 19px 41px 20px 23px
        background-color: $white
        border: solid 1px white
        border-radius: 7px

    .radius-topic
        position: relative
        background: rgba($turquoise-100, 50%)
        width: 19px
        height: 19px
        border-radius: 17px
        padding: 7.5px
        img
            position: absolute
            width: 18px
            height: 18px

    .title
        margin-top: 10px
        margin-bottom: 2px
        font-weight: 700
        font-size: 18px

    .info
        color: $gray-300
        font-weight: 400
        font-size: 14px
        line-height: 20px
        margin-top: 5px

.info-block-2-ai
    height: 800px
    display: grid
    row-gap: 20px
    column-gap: 20px
    grid-template-columns: 1fr 1fr

    .ai-left
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-end

        h1
            font-weight: 700
            font-size: 142%
            line-height: 146%
            text-transform: capitalize
        
        p
            margin-top: 17px
            color: $gray-300
            font-weight: 500
            font-size: 16px
            line-height: 150%
            max-width: 565px
    
    .ai-right
        display: flex
        position: relative
    
    .time-table-img
        z-index: 10
        margin-top: 80px
        margin-left: 30px
        width: 523px
        height: 327px

    .cards-img
        z-index: 10
        margin-top: 0px
        margin-left: 30px
        width: 551px
        height: 229px

    .elipse-bottom-pink
        z-index: 1
        width: 170px
        height: 170px
        position: absolute
        border: 35px solid $pink-100
        border-radius: 50%
        top: 45px
        left: 190px

    .elipse-top-pink
        z-index: 2
        width: 250px
        height: 250px
        position: absolute
        border: 40px solid $pink-100
        border-radius: 50%
        top: 32px
        left: 0

    .elipse-top-aqua
        position: absolute
        z-index: 2
        background-color: $turquoise-100
        border-radius: 50%
        width: 230px
        height: 230px
        top: calc(327px - 98px)
        left: calc(523px - 130px)

.info-block-3-about
    height: 400px
    background: repeating-linear-gradient(75deg, $white, $pink-100 2px, rgba($pink-100 , 0%) 4px, rgba($white, 0%) 190px), repeating-linear-gradient(165deg, $white, $pink-100 1px, rgba($pink-100 , 0%) 4px, rgba($white, 0%) 190px)
    display: flex
    justify-content: center
    align-items: center

    h1
        text-align: center
        font-weight: 700
        font-size: 24px
        line-height: 46px
    
    .blue
        color: $blue-200

    .info-3-container
        box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.1)
        padding: 57px 13px 52px 13px
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        background-color: $white
    
    .inline
        display: flex

    button
        margin-top: 19px
        width: 170px

.footer
    height: 256px
    color: $white
    background-color: $dark-blue
    display: flex
    align-items: center
    justify-content: space-between

    .contacts
        width: 350px
        display: flex
        flex-direction: column
        justify-content: center
        align-content: center
        margin-left: 150px
        h2
            margin-left: 6px

        .footer-logo
            display: flex
            align-items: center
            margin-bottom: 29px

        .logo-img
            width: 35px

        .contacts-icons
            display: flex

    .circle-icon
        display: flex
        justify-content: center
        align-items: center
        width: 36px
        height: 36px
        border: 1px solid $inactive-color
        border-radius: 100%
        margin-right: 10px
        &:hover
            filter: invert(66%) sepia(83%) saturate(339%) hue-rotate(158deg) brightness(101%) contrast(93%)
            cursor: pointer

    .copyright
        text-align: center

    .links
        display: grid
        grid-auto-flow: column
        column-gap: 30px
        color: $gray-300
        font-weight: 500
        font-size: 16px
        line-height: 24px
        margin-bottom: 60px
        p
            color: $inactive-color
            cursor: pointer
            &:hover
                color: $turquoise-100

    .copy-label
        color: $inactive-color
        font-weight: 400
        font-size: 12px
        line-height: 135.5%

    .img-a
        width: 22px
        height: 22px

    .buttons
        width: 350px
        margin-right: 150px

        h4
            font-size: 16px
            font-weight: 700
            line-height: 20.5px

        button
            width: 116px
            height: 34px
            border: 1px solid $blue-200
            border-radius: 17px
            font-size: 16px

        .sign-in
            margin-right: 10px
            background-color: $dark-blue
            border-color: $white
            color: $white

        .sign-up
            background-color: $blue-200
            color: $white

