<div class="all">
    <div class="header">
        <div class="logo">
            <img class="camera" src="assets/logo/logo.svg" />
            <h2>EasySpeak</h2>
        </div>
        <div class="links">
            <p>Home</p>
            <p>AI</p>
            <p>Plan</p>
            <p>About Us</p>
        </div>
        <div class="buttons-header">
            <button class="sign-in"><h4>Sign In</h4></button>
            <button class="sign-up"><h4>Sign Up</h4></button>
        </div>
    </div>

    <div class="info-block-1-home">
        <div class="left-block">
            <div class="left-content">
                <h1>
                    What Will We Talk About <br />
                    In English?
                </h1>
                <label>
                    Lorem ipsum dolor sit amet consectetur. Amet aliquam ipsum purus luctus. <br />
                    Tellus euismod dictum sed odio elementum tincidunt. Mauris purus commodo <br />
                    facilisi mauris lorem ut pellentesque in. Laoreet sagittis dui faucibus in mattis.
                </label>
                <div class="buttons-home">
                    <button class="sign-up"><h3>Sign Up</h3></button>
                    <button><h3>Choose plan</h3></button>
                </div>
            </div>
        </div>
        <div class="right-block">
            <div class="radius-big leaf">
                <img src="assets/topic-icons/Four Leaf Clover.svg" />
            </div>
            <div class="radius-big dog">
                <img src="assets/topic-icons/Dog Face.svg" />
            </div>
            <div class="radius-medium car">
                <img src="assets/topic-icons/Racing Car.svg" />
            </div>
            <div class="radius-medium cook">
                <img src="assets/topic-icons/Cook.svg" />
            </div>
            <div class="radius-medium camera">
                <img src="assets/topic-icons/Camera.svg" />
            </div>
            <div class="radius-small woman">
                <img src="assets/topic-icons/Woman Dancing.svg" />
            </div>
            <div class="radius-small face">
                <img src="assets/topic-icons/Face With Monocle.svg" />
            </div>
        </div>
    </div>

    <div class="topics"></div>

    <div class="info-block-2-ai">We use artificial intelligence to find people for you to chat with.</div>

    <div class="plan">Skipped</div>

    <div class="info-block-3-about">Lorem</div>

    <div class="footer">footer</div>
</div>
