<div class="filters-section-container">
    <div class="btns-wrp">
        <app-dropdown [btnLabel]="this.langBtnLabel" [resetEvent]="this.resetFiltersEvent" [data]="this.langLevels" (selectedFilters)="updateLangFilters($event)"></app-dropdown>
        <app-dropdown [btnLabel]="this.topicsBtnLabel" [resetEvent]="this.resetFiltersEvent" [data]="this.topics" (selectedFilters)="updateTopicFilters($event)"></app-dropdown>
    </div>
    <div class="selected-filters-wrp">
        <div class="selected-filters-list">
            <div style="margin: 0px;" *ngFor="let selectedTopic of this.selectedLanguageFilters">
                <div *ngIf="selectedTopic" class="selected-filter-item">
                    {{selectedTopic}}
                    <mat-icon (click)="removeLangLevel(selectedTopic)">close</mat-icon>
                </div>
            </div>
            <div style="margin: 0px;" *ngFor="let selectedTopic of this.selectedTopicsFilters">
                <div *ngIf="selectedTopic" class="selected-filter-item">
                    {{selectedTopic}}
                    <mat-icon (click)="removeTopic(selectedTopic)">close</mat-icon>
                </div>
            </div>
        </div>
        <button class="close-filters-btn" (click)="resetFilters()">
            Close all
        </button>
    </div>
</div>
