<div class="container">
    <div (click)="decCurrent()" *ngIf="currentPage !== 1" class="circle">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </div>

    <div *ngIf="currentPage !== 1 && currentPage !== lastPage" class="max-size">
        <div (click)="decCurrent()" class="circle" [ngClass]="{'active': currentPage === getLeft()}">
            {{getLeft()}}
        </div>

        <div *ngIf="currentPage > 1 && currentPage < lastPage" class="circle active" ngClass="">
            {{currentPage}}
        </div>

        <div (click)="incCurrent()" class="circle" [ngClass]="{'active': currentPage === getRight()}">
            {{getRight()}}
        </div>
    </div>


    <div *ngIf="currentPage === 1 ||  currentPage === lastPage" class="max-size">
        <div (click)="onChoose(1)" class="circle" [ngClass]="{'active': currentPage === 1}">
            1
        </div>
        <div *ngIf="lastPage > 2" class="circle">
            ...
        </div>
        <div (click)="onChoose(lastPage)" class="circle" [ngClass]="{'active': currentPage === lastPage}">
            {{lastPage}}
        </div>
    </div>


    <div (click)="incCurrent()" *ngIf="lastPage !== currentPage" class="circle">
        <mat-icon>keyboard_arrow_right</mat-icon>
    </div>
</div>