<div class="subheader">
    <h2>Find a friend to practice English with</h2>
</div>
<div class="body">
    <div class="filters">
        <app-filter-section (filterChange)="onFilterChanges($event)"></app-filter-section>
    </div>
    <ng-container *ngIf="slicedUsers$ | async as slicedUsers">
        <div class="user-grid" *ngIf="slicedUsers[currentPage]; else noUsers">
            <app-user-card *ngFor="let slicedUser of slicedUsers[currentPage]" [user]="slicedUser"></app-user-card>
        </div>
    </ng-container>
</div>

<ng-template #noUsers>
    <div class="no-users">
        <p>Oops, there are no users matching your filters</p>
    </div>
</ng-template>

<div *ngIf="userCount$ | async as userCount">
    <div *ngIf="userCount > itemsOnPage" class="pagination">
        <app-pagination (pageNumberChanged)="onChanged($event)"
            [pageCount]="getPageAmount(userCount)"></app-pagination>
    </div>
</div>