<div class="subheader">
    <h2>Find a friend to practice English with</h2>
</div>
<div class="body">
    <div class="filters">
        <app-filter-section (filterChange)="onFilterChanges($event)"></app-filter-section>
    </div>
    <ng-container *ngIf="users$ | async as users">
        <div class="user-grid" *ngIf="users.length; else noUsers">
            <app-user-card *ngFor="let user of users" [user]="user"></app-user-card>
        </div>
    </ng-container>
</div>

<ng-template #noUsers>
    <div class="no-users">
        <p>Oops, there are no users matching your filters</p>
    </div>
</ng-template>
