<div (appClickOutside)="clickedOutside()">
    <div [ngClass]="{'button-wrapper-modal': usedInModal}" class="button-wrapper">
        <button class="dropdown-button" (click)="clickButton()"></button>
        <div [ngClass]="{'button-content-modal': usedInModal}" class="button-content">
            <div class="button-symbols">
                <div [ngClass]="{'counter-modal': usedInModal}" class="counter">{{outputList.length}}</div>
                <div>Interests</div>
            </div>
            <img [ngClass]="{'arrow-icon-modal': usedInModal}" class="arrow-icon" src="assets/interestsDropdown/chevron_down.svg"/>
        </div>

        <div [ngClass]="{'dropdown-content-modal': usedInModal}" class="dropdown-content" *ngIf="toggle">
            <div *ngFor="let item of inputList; let i = index" class="dropdown-item">
                <input type="checkbox" id="{{i}}" [checked]="iconExistsInOutputList(item.name)" class="item-checkbox"
                       (change)="selectInterest($event)"/>
                <label class="item-checkbox-label" for="{{i}}">
                    <div class="icon-wrapper">
                        <img class="icon" src="{{item.link}}" alt="image"/>
                    </div>
                    <div class="icon-name">{{item.name}}</div>
                </label>
            </div>
        </div>
    </div>
</div>
