@import src\styles\colors.sass

@mixin background-icon
    position: absolute
    width: 7%
    height: 14%
    border-radius: 50%
    background: $turquoise-100
    opacity: 0.4

@mixin icon-size
    width: 9%
    height: 9%

::ng-deep *
    margin:0

::placeholder
    color: $gray-200


.auth-page
    background-color: $gray-100
    height: 100vh
    width: 100vw
    position: fixed
    top:0
    left:0
    font-style: normal

.auth-form
    position: absolute
    left: 15%
    top: 16%
    display: flex
    flex-direction: column
    width: 18%
    height: 80%

.image-section
    margin-left: 50%
    height: 100%
    width: 50%
    display: flex
    justify-content: center
    align-items: center
    background: repeating-linear-gradient(75deg,$pink-100,$pink-100 1px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0) 20%), repeating-linear-gradient(166deg,$pink-100,$pink-100 1px, rgba(0, 0, 0, 0) 1px, rgba(1, 1, 1, 0) 20%)
    background-color: $blue-200

    h1
        color: $white
        font-size: 330%
        line-height: 127.5%
        text-align: center
        text-shadow: -2px 2px 1px $pink-100
    .car-background
        @include background-icon
        right: 28%
        top: 6%
    .car
        @include icon-size
        position: absolute
        right: 27%
        top: 7%
    .camera-background
        @include background-icon
        right: 7%
        top: 18%
    .camera
        @include icon-size
        position: absolute
        right: 6%
        top: 20%
    .clover-background
        @include background-icon
        right: 4%
        top: 48%
    .clover
        @include icon-size
        position: absolute
        right: 3%
        top: 50%
    .cook-background
        @include background-icon
        right: 18%
        top: 68%
    .cook
        @include icon-size
        position: absolute
        right: 17%
        top: 70%
    .dancing-background
        @include background-icon
        right: 26%
        top: 82%
        opacity: 0.2
    .dancing
        @include icon-size
        position: absolute
        right: 25%
        top: 84%
    .dog-background
        @include background-icon
        right: 40%
        top: 62%
    .dog
        @include icon-size
        position: absolute
        right: 39%
        top: 64%
    .monocle-face-background
        @include background-icon
        right: 38%
        top: 25%
    .monocle-face
        @include icon-size
        position: absolute
        right: 37%
        top: 27%

h1
    font-size: 24px
    line-height: 146%
    color: $blue-200
    margin-bottom: 5%

input, select, button
    background: $white
    width: 100%
    border: 0
    outline: 0
    border-radius: 50px
    margin-top: 8px
    padding: 12px
    text-color: $gray-200

.name-section
    width: 117%
    display: flex
    flex-direction: row
    justify-content: space-between
    input
        width: 70%

.age-sex-section
    width: 110%
    display: flex
    flex-direction: row
    justify-content: space-between
    select
        width: 47%


select
    width: 110%
    color: $gray-200
    outline: 0
    option
        color: $gray-300
        font-size: 16px
        background-color: $white

button
    width: 111%
    background: $blue-200
    color: $white

.mat-mdc-form-field-error
    font-size: 10px
    margin-left: 4%
    margin-right: auto
    margin-bottom: 1%
    margin-bottom: 1px

.mat-mdc-button:not(:disabled)
    color: $white

