<div class="auth-page">
    <div class="router">
        <router-outlet></router-outlet>
    </div>
    <div class="image-section">
        <div class="race-wrp">
            <div class="inner-wrp">
                <img class="race" src="assets/topic-icons/RacingCar.svg" />
            </div>
        </div>
        <div class="camera-wrp">
            <div class="inner-wrp">
                <img class="camera" src="assets/topic-icons/Camera.svg" />
            </div>
        </div>
        <div class="clover-wrp">
            <div class="inner-wrp">
                <img class="clover" src="assets/topic-icons/FourLeafClover.svg" />
            </div>
        </div>
        <div class="cook-wrp">
            <div class="inner-wrp">
                <img class="cook" src="assets/topic-icons/Cook.svg" />
            </div>
        </div>
        <div class="woman-wrp">
            <div class="inner-wrp">
                <img class="woman" src="assets/topic-icons/WomanDancing.svg" />
            </div>
        </div>
        <div class="dog-wrp">
            <div class="inner-wrp">
                <img class="dog" src="assets/topic-icons/DogFace.svg" />
            </div>
        </div>
        <div class="face-wrp">
            <div class="inner-wrp">
                <img class="face" src="assets/topic-icons/FaceWithMonocle.svg" />
            </div>
        </div>
        <h1>
            Learn English
            <div>With EasySpeak</div>
        </h1>
    </div>
</div>
