@import src\styles\colors.sass

@mixin background-icon
    position: absolute
    width: 7%
    height: 14%
    border-radius: 50%
    background: $turquoise-100
    opacity: 0.4

@mixin icon-size
    width: 9%
    height: 9%

::ng-deep *
    margin:0

::placeholder
    color: $gray-200


.auth-page
    background-color: $gray-100
    height: 100vh
    width: 100vw
    position: fixed
    top:0
    left:0
    font-style: normal
    display: flex


.router
    width: 50vw
    height: 100vh


.image-section
    height: 100%
    width: 50%
    display: flex
    justify-content: center
    align-items: center
    background: repeating-linear-gradient(75deg,$pink-100,$pink-100 1px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0) 20%), repeating-linear-gradient(166deg,$pink-100,$pink-100 1px, rgba(0, 0, 0, 0) 1px, rgba(1, 1, 1, 0) 20%)
    background-color: $blue-200

    h1
        color: $white
        font-size: 330%
        line-height: 127.5%
        text-align: center
        text-shadow: -2px 2px 1px $pink-100
    .car-background
        @include background-icon
        right: 28%
        top: 6%
    .car
        @include icon-size
        position: absolute
        right: 27%
        top: 7%
    .camera-background
        @include background-icon
        right: 7%
        top: 18%
    .camera
        @include icon-size
        position: absolute
        right: 6%
        top: 20%
    .clover-background
        @include background-icon
        right: 4%
        top: 48%
    .clover
        @include icon-size
        position: absolute
        right: 3%
        top: 50%
    .cook-background
        @include background-icon
        right: 18%
        top: 68%
    .cook
        @include icon-size
        position: absolute
        right: 17%
        top: 70%
    .dancing-background
        @include background-icon
        right: 26%
        top: 82%
        opacity: 0.2
    .dancing
        @include icon-size
        position: absolute
        right: 25%
        top: 84%
    .dog-background
        @include background-icon
        right: 40%
        top: 62%
    .dog
        @include icon-size
        position: absolute
        right: 39%
        top: 64%
    .monocle-face-background
        @include background-icon
        right: 38%
        top: 25%
    .monocle-face
        @include icon-size
        position: absolute
        right: 37%
        top: 27%

h1
    font-size: 24px
    line-height: 146%
    color: $blue-200
    margin-bottom: 5%


.container
    height: 100%
    width: 100%
    display: flex
    justify-content: center
    align-items: center

.from-wrp
    height: fit-content
    width: fit-content

.form-group-item
    position: relative
    .expand-icon
        position: absolute
        right: 1vw
        bottom: 1vh
        color: $blue-200
        z-index: 4
    .placeholder
        position: absolute
        left: 1vw
        top: 1.5vh
        color: $gray-200
        font-size: 14px
        z-index: 4
    .error-surface
        position: absolute
        width: 100%
        height: 100%
        top: 0
        box-shadow: 0px 1px 4px $error-color
        border-radius: 50px
        z-index: 1
    .succes-surface
        @extend .error-surface
        box-shadow: 0px 1px 4px $turquoise-100
    .errors-wrp
        position: absolute
        font-size: 12px
        color: $error-color
        width: 100%
        height: 20px
        overflow: hidden
        top: 5vh
        .error
            display: flex
            align-items: center
            height: 100%
            img
                filter: invert(31%) sepia(100%) saturate(3362%) hue-rotate(325deg) brightness(94%) contrast(99%)
                height: 13px
                width: 11px
                margin-right: 6px

.name-section,
.age-sex-section
    display: grid
    grid-template-columns: repeat(2, calc( 12vw - 7.5px ))
    gap: 15px

input
    width: 100%
    height: 100%
    box-sizing: border-box
    border-radius: 50px
    border: none
    position: relative
    padding-left: 18px
    z-index: 2

input
    &:focus
        outline-color: $gray-100

.submit-btn
    border-radius: 50px
    background-color: $blue-200
    height: 100%
    color: $white !important
    font-weight: 500
    font-size: 16px

::ng-deep.custom
    height: 100%

::ng-deep.ng-input
    top: 0
    left: 10px
    width: auto !important
    height: 100%
    opacity: 0 !important

::ng-deep.ng-value-label
    margin-left: 10px

::ng-deep.ng-arrow-wrapper
    display: none

::ng-deep.ng-value-container
    display: flex
    align-items: center

::ng-deep.ng-value-label
    margin-left: 20px

::ng-deep.ng-dropdown-panel.ng-select-bottom
    margin-top: 5px
    border: 1px solid $gray-100

::ng-deep.ng-select.ng-select-single .ng-select-container
    border-radius: 50px
    box-sizing: border-box
    height: 100%
    margin: 0
    border: none

::ng-deep.ng-clear-wrapper
    display: none

::ng-deep.ng-select-container
    height: 100%
    box-sizing: border-box
    background-color: $white
    border-radius: 50px
    font-size: 14px

::ng-deep.ng-dropdown-panel
    background-color: $white
    max-height: 200px
    overflow: scroll
    margin-top: 5px
    border-radius: 4px

::ng-deep.ng-option
    padding: 10px
    .ng-option-label
        width: 100%
        display: flex
        gap: 10px
        align-items: center
        color: $gray-300

::ng-deep.ng-select-container
    z-index: 3 !important



