<main>
    <aside>
        <div class="message-header">
            <span class="message-span">Messages</span>
            <div class="total-number-of-messages">
                <span>{{lotsOfMessages(getTotalUnreadMessages())}}</span>
            </div>
        </div>
        <mat-form-field appearance="fill">
            <form [formGroup]="filterForm">
                <input id="filter-box" matInput placeholder="Type a name..." (input)="filterPeople()" formControlName="filterInput"/>
            </form>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <div class="line"></div>
        <div class="people">
            <div [ngClass]="{
                  'person': true,
                  'onlinePerson': person.isOnline,
                  'offlinePerson': !person.isOnline,
                  'unread': person.numberOfUnreadMessages,
                  'read': !person.numberOfUnreadMessages
                }"
                 *ngFor="let person of filteredPeople"
                (click)="getChat(person)">
                <div class="img-name-status-time">
                    <div class="img-name-status">
                        <div class="img-online">
                            <div class="avatar-div">
                                <app-avatar
                                    [imageSize]="36"
                                    [firstName]="person.firstName"
                                    [lastName]="person.lastName"
                                    [imagePath]="person.imageUrl">
                                </app-avatar>
                            </div>
                        </div>
                        <div class="name-status">
                            <span class="person-name">{{person.firstName}} {{person.lastName}}</span>
                        </div>
                    </div>
                    <span>{{addTimeOffset(person.lastMessageDate) | date: 'HH:mm'}}</span>
                </div>
                <div class="last-message-total">
                    <span class="last-message">{{person.lastMessage}}</span>
                    <div class="total-number-of-messages" *ngIf="person.numberOfUnreadMessages > 0">
                        {{lotsOfMessages(person.numberOfUnreadMessages)}}
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <div class="container" *ngIf="currentPerson">
        <header>
            <div class="interlocutor">
                <span class="person-name">{{currentPerson.firstName}} {{currentPerson.lastName}}</span>
            </div>
            <div class="buttons">
                <button class="send-button" (click)="startSessionCall()">
                    <img src="assets/chat/Camera.svg" alt="img">
                </button>
            </div>
        </header>
        <div class="chat-body" #scrollMe [scrollTop]="scrollMe.scrollHeight" *ngIf="groupedMessages.length > 0">
            <app-message-group
                *ngFor="let message of groupedMessages; index as i"
                [message]="message"
                [i]="i"
                [currentUser]="currentUser"
                [currentPerson]="currentPerson"
            >
            </app-message-group>
        </div>
        <div class="chat-body" #scrollMe [scrollTop]="scrollMe.scrollHeight" *ngIf="groupedMessages.length === 0">
            <span>No messages in this chat :( <br> Say 'Hi 👋' to your friend!</span>
        </div>
        <div class="chat-input">
            <form [formGroup]="form" (ngSubmit)="sendMessage()">
                <div class="message-input">
                    <input placeholder="Type a message..." formControlName="message">
                    <label for="input-more" class="custom-file-upload">
                        <button class="input-more" id="input-more" type="button"></button>
                        <img src="assets/chat/emoji.svg" alt="img">
                    </label>
                </div>
                <div class="vertical-line"></div>
                <button type="submit" class="send-message">Send</button>
            </form>
        </div>
    </div>
    <div class="container-empty" *ngIf="!currentPerson">
        <span>Select a chat</span>
    </div>
</main>
