@import 'src/styles/colors'

textarea:focus, input:focus 
    outline: none 

.left-elements
    position: relative
    display: flex
    flex-direction: column
    h1
        font-size: 24px
        color: $blue-200
        margin-bottom: 20px

.button-back
    position: relative
    display: flex
    align-items: center
    width: 111px
    height: 35px
    background-color: $white
    border-width: 0
    border-radius: 35px
    font-size: 14px
    margin-bottom: 15px
    &:hover
        background-color: $selected-color

    mat-icon
        margin-left: 10px
        padding: 0
        color: $blue-200

    div
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

.input-email
    width: 303px
    height: 46px
    background-color: $white
    border-width: 0
    border-radius: 35px
    font-size: 14px
    padding-left: 19px
    margin-bottom: 15px
    &:focus
        box-shadow: 0px 1px 4px rgba(97, 212, 246, 0.8)

::placeholder
    color: $gray-200
    font-size: 14px
    font-weight: 400

.input-container
    position: relative

.button-send
    display: flex
    align-items: center
    justify-content: center
    width: 322px
    height: 45px
    color: $white
    background-color: $blue-200
    border-width: 0
    border-radius: 35px
    font-size: 14px
    margin-bottom: 40px
    &:hover
        background-color: $selected-color
    h3
        font-size: 16px

.wrong-format
    display: flex
    margin: 0 0 13px 0
    color: red
    font-weight: 400
    font-size: 12px
    img
        margin-right: 5px
        width: 18px
    
.red,
.red:focus
    color: red
    box-shadow: 0px 1px 4px rgba(238, 42, 100, 0.8)
    margin-bottom: 5px