<div class="left-elements">
    <button routerLink="/auth" class="button-back">
        <mat-icon>keyboard_arrow_left</mat-icon>
        <div>Back</div>
    </button>

    <h1>Forgot Password</h1>

    <div class="input-container">
        <input class="input-email" [ngClass]="{'red': redWarning()}" [(ngModel)]="email" (ngModelChange)="changedMail()" placeholder="Email" />
    </div>

    <div class="wrong-format" *ngIf="redWarning()">
        <img src="assets/forgot-password-icons/alert-triangle.svg"/>
        The email is invalid
    </div>

    <button class="button-send" (click)="sendMail()"><h3>Reset Password</h3></button>
</div>
