<div class="left-elements">
    <button routerLink="/auth" class="button-back">
        <mat-icon>keyboard_arrow_left</mat-icon>
        <div>Back</div>
    </button>

    <h1>Forgot Password</h1>

    <div class="input-container">
        <input class="input-email" [(ngModel)]="email" (ngModelChange)="changedMail()" />
        <label>Email</label>
    </div>

    <button class="button-send" (click)="checkMail()"><h3>Send Recovery Code</h3></button>

    <div class="wrong-format" *ngIf="!isMatch">Email is not valid format!</div>
    <div class="email-doesnt-exist" *ngIf="wrongEmail">This email doesn't exist!</div>
    
</div>
