<div class="main">
    <div class="left-container">
        <router-outlet></router-outlet>
    </div>
    <div class="right-container">
        <div class="radius glass"><img src="assets/forgot-password-icons/MagnifyingGlassTiltedRight.svg" /></div>
        <div class="radius thinking-face"><img src="assets/forgot-password-icons/ThinkingFace.svg" /></div>
        <div class="radius mailbox"><img src="assets/forgot-password-icons/ClosedMailboxWithRaisedFlag.svg" /></div>
        <div class="radius pencil"><img src="assets/forgot-password-icons/Pencil.svg" /></div>
        <div class="radius key"><img src="assets/forgot-password-icons/Key.svg" /></div>
        <div class="radius face-with-steam">
            <img src="assets/forgot-password-icons/FaceWithSteamFromNose.svg" />
        </div>
        <div class="radius email"><img src="assets/forgot-password-icons/EMail.svg" /></div>

        <div class="learn-label">
            <label>Learn English</label>
            <label>with EasySpeak</label>
        </div>
    </div>
</div>
