<div class="container">
    <div class="profile">
        <div class="header">
            <h1>Teachers Profile</h1>
        </div>
        <div class="card">
            <div class="card-left">
                <div class="bio">
                    <div class="avatar">
                        <app-avatar
                            [firstName]="currentUser.firstName"
                            [lastName]="currentUser.lastName"
                            [imagePath]="currentUser.imagePath"
                            [imageSize]="36">
                        </app-avatar>
                    </div>
                    <div class="greeting">
                        <p class="name">Hello, {{ currentUser.firstName }} {{ currentUser.lastName }}</p>
                        <p class="question">Are you ready for the new Group Classes?</p>
                    </div>
                </div>
                <div class="stats">
                    <app-stats-card [description]="'Total Group Classes'" [text]="totalClasses" [iconPath]="'TODO'">
                    </app-stats-card>
                    <app-stats-card [description]="'Group Classes Canceled'" [text]="canceledClasses" [iconPath]="'TODO'">
                    </app-stats-card>
                    <app-stats-card [description]="'Future Group Classes'" [text]="futureClasses" [iconPath]="'TODO'">
                    </app-stats-card>
                    <app-stats-card [description]="'Pupils visited Classes'" [text]="totalStudents" [iconPath]="'TODO'">
                    </app-stats-card>
                </div>
            </div>
            <div class="card-right">
                <div class="add-class"></div>
                <div class="next-class-card">
                    <app-stats-card [description]="'The Nearest Group Classes'" [text]="nextClass" [iconPath]="'TODO'">
                    </app-stats-card>
                </div>
            </div>
        </div>
    </div>
</div>
