<main>
    <button id="back">
        <img src="assets/brackets/Icon.svg" />
        <span>Back</span>
    </button>
    <h2>Choose topics that interest you</h2>
    <div id="topics">
        <div *ngFor="let topic of topics" [className]="topic.selected ? 'selected topic' : 'not-selected topic'">
            <div (click)="topicClick(topic)">
                <img src="assets/topic-icons/{{ topic.imgName }}" />
            </div>
            <p>{{ topic.name }}</p>
        </div>
    </div>
    <div id="next">
        <button id="create" [disabled]="!selectedTopics.length">Create account</button>
        <button id="skip" routerLink="/">Skip</button>
    </div>
    <div id="has-account">
        <span>I have an account! </span>
        <a routerLink="/auth/sign-in">Sign In</a>
    </div>
</main>
