<main>
    <h2>Choose topics that interest you</h2>
    <div id="topics">
        <div *ngFor="let topic of topics" [className]="topic.selected ? 'selected topic' : 'not-selected topic'">
            <div (click)="topicClick(topic)">
                <img src="assets/topic-icons/{{ topic.imgName }}" />
            </div>
            <p>{{ topic.name }}</p>
        </div>
    </div>
    <div id="next">
        <button id="create" (click)="saveTopics()" [disabled]="!selectedTopics.length">Save interests</button>
        <button id="skip" routerLink="/timetable">Skip</button>
    </div>
</main>
