<div class="container">
    <h1 class="header">Calling {{ remoteFullName }}</h1>
    <img class="avatar" *ngIf="remoteImgPath" src="{{ remoteImgPath }}" alt="">
    <app-avatar *ngIf="!remoteImgPath" class="avatar"
        [firstName]="remoteName"
        [lastName]="remoteLastname"></app-avatar>
    <div class="controls">
        <button mat-dialog-close="true" class="reject button" (click)="rejectCall()">
            <img src="assets/session-call/reject_icon.svg" alt="">
        </button>
        <button mat-dialog-close="true" class="answer button" (click)="answerCall()">
            <img src="assets/session-call/accept_icon.svg" alt="">
        </button>
    </div>
</div>
