<div class="container">
    <h1 class="header">{{callInfo.hasButtons ? 'Calling' : 'You are calling'}} {{ remoteFullName }}</h1>
    <div class="user-avatar-placeholder">
        <app-avatar
            [firstName]="remoteName"
            [lastName]="remoteLastname"
            [imagePath]="remoteImgPath ? remoteImgPath : ''"
            [imageSize]="172">
        </app-avatar>
    </div>
    <div *ngIf="callInfo.hasButtons" class="controls">
        <button mat-dialog-close="true" class="reject button" (click)="rejectCall()">
            <img src="assets/session-call/reject_icon.svg" alt="">
        </button>
        <button mat-dialog-close="true" class="answer button" (click)="answerCall()">
            <img src="assets/session-call/accept_icon.svg" alt="">
        </button>
    </div>
</div>
