<div class="container">
    <h1 class="header">Calling Giana Levin</h1>
    <img class="avatar" src="assets/session-call/avatar.svg" alt="" (click)="rejectCall()">
    <div class="controls">
        <button mat-dialog-close="true" class="reject button">
            <img src="assets/session-call/reject_icon.svg" alt="">
        </button>
        <button mat-dialog-close="true" class="answer button" (click)="answerCall()">
            <img src="assets/session-call/accept_icon.svg" alt="">
        </button>
    </div>
</div>
