<mat-dialog-content><div>{{data.header}}</div></mat-dialog-content>
<ng-container *ngComponentOutlet="data.component"></ng-container>
<mat-dialog-actions>
    <button mat-dialog-close="false" class="cancel" *ngIf="data.hasButtons">{{!!data.cancelText ? data.cancelText : "Cancel"}}</button>
    <button mat-dialog-close="true" class="confirm" *ngIf="data.hasButtons">{{!!data.confirmText ? data.confirmText : "Confirm"}}</button>
    <button mat-dialog-close="true" class="ok" *ngIf="!data.hasButtons">{{!!data.okText ? data.okText : "Ok"}}</button>
</mat-dialog-actions>
