<form #userDetailsForm="ngForm" [formGroup]="detailsForm" class="container" (ngSubmit)="onSubmit()">
    <div class="user-photo-section-title">
        <div class="title">
            User Photo
        </div>
    </div>
    <div class="user-photo-section">
        <div class="avatar-wrp">
            <img class="avatar" src="/assets/user-profile/avatar.svg" alt="avatar">
            <div class="edit-avatar-icon">
                <img src="/assets/user-profile//edit-icon.svg" alt="edit">
            </div>
            <div class="vertical-line"></div>
        </div>
        <div class="avatar-list">
            <div class="avatar-suggestion-wrp">
                <img src="/assets//user-profile/boy.svg" alt="">
            </div>
            <div class="avatar-suggestion-wrp">
                <img src="/assets//user-profile/man-bald.svg" alt="">
            </div>
            <div class="avatar-suggestion-wrp">
                <img src="/assets//user-profile/man-beard.svg" alt="">
            </div>
            <div class="avatar-suggestion-wrp">
                <img src="/assets//user-profile/man-curly.svg" alt="">
            </div>
            <div class="avatar-suggestion-wrp">
                <img src="/assets//user-profile/man-elf.svg" alt="">
            </div>
            <div class="avatar-suggestion-wrp">
                <img src="/assets//user-profile/man-in-tuxedo.svg" alt="">
            </div>
            <div class="avatar-suggestion-wrp">
                <img src="/assets//user-profile/man-red-hair.svg" alt="">
            </div>
            <div class="avatar-suggestion-wrp">
                <img src="/assets//user-profile/man-technologist.svg" alt="">
            </div>
            <div class="avatar-suggestion-wrp">
                <img src="/assets//user-profile/man-superhero.svg" alt="">
            </div>
            <div class="avatar-suggestion-wrp">
                <img src="/assets//user-profile/man-white-hair.svg" alt="">
            </div>
        </div>
    </div>
    <div class="user-details-section-title">
        <div class="title">
            User Details
        </div>
    </div>
    <div class="user-interests-section-title">
        <div class="title">
            Interests
        </div>
    </div>
    <div class="user-socials-section-title">
<!--        <div class="title">-->
<!--            Social Networks-->
<!--        </div>-->
    </div>

    <div class="user-details-section">
        <div class="form-input-group">
            <input class="input" type="text" id="firstName" formControlName="firstName" minlength="2" maxlength="25" required="">
            <div *ngIf="!firstName.getRawValue()" class="placeholder">First Name</div>
            <label *ngIf="firstName.getRawValue()" class="label" for="firstName">First Name</label>

            <div class="errors-wrp" *ngIf="firstName.errors">
                <mat-error class="error" *ngIf="firstName.errors?.['minlength'] && firstName.touched">
                    <img src="/assets/user-profile/alert-triangle.svg" alt="">
                    Minimal length is 2 characters
                </mat-error>
                <mat-error class="error" *ngIf="firstName.errors?.['required'] && firstName.touched">
                    <img src="/assets/user-profile/alert-triangle.svg" alt="">
                    This field is required
                </mat-error>
            </div>
            <div class="error-surface" *ngIf="firstName.errors && firstName.touched"></div>
        </div>

        <div class="form-input-group">
            <label class="label" *ngIf="lastName.getRawValue()">Last Name</label>
            <div *ngIf="!lastName.getRawValue()" class="placeholder">Last Name</div>
            <input class="input" type="text" id="lastName" formControlName="lastName" required minlength="2" maxlength="25">

            <div class="errors-wrp" *ngIf="lastName.errors">
                <mat-error class="error" *ngIf="lastName.errors?.['minlength'] && lastName.touched">
                    <img src="/assets/user-profile/alert-triangle.svg" alt="">
                    Minimal length is 2 characters
                </mat-error>
                <mat-error class="error" *ngIf="lastName.errors?.['required'] && lastName.touched">
                    <img src="/assets/user-profile/alert-triangle.svg" alt="">
                    This field is required
                </mat-error>
            </div>
            <div *ngIf="lastName.errors && lastName.touched" class="error-surface"></div>
        </div>

        <div class="form-input-group">
            <div>Date of Birth</div>
        </div>

        <div class="form-input-group">
            <div *ngIf="!sex.getRawValue()" class="placeholder">Sex</div>


            <ng-select class="custom"  dropdownPosition="bottom" appearance="underline" #sexSelect labelForId="sex"
            formControlName="sex" bindLabel="Sex">
                <ng-option class="select-option" *ngFor="let sexOption of sexOptions" value="{{sexOption}}">{{sexOption}}</ng-option>
            </ng-select>
            <mat-icon class="expand-icon">expand_more</mat-icon>

        </div>

        <div class="form-input-group">
            <div class="placeholder">Country</div>
<!--            *ngIf="!country.getRawValue()"-->
            <ng-select class="custom" dropdownPosition="bottom" appearance="underline" #countrySelect labelForId="country"
            formControlName="country" bindLabel="Country">
                <ng-option class="select-option" *ngFor="let country of countries" value="{{country.name}}">{{country.name}}
                    <img class="flag" src="{{country.flag}}">
                </ng-option>
            </ng-select>
            <mat-icon class="expand-icon">expand_more</mat-icon>
        </div>

        <div class="form-input-group">
            <div *ngIf="!language.getRawValue()" class="placeholder">Native Language</div>
            <ng-select class="custom" dropdownPosition="bottom" appearance="underline" #languageSelect
            formControlName="language">
                <ng-option class="select-option" *ngFor="let lang of languages" value="{{lang}}">{{lang}}</ng-option>
            </ng-select>
            <mat-icon class="expand-icon">expand_more</mat-icon>
        </div>

        <div class="form-input-group">
            <div *ngIf="!englishLevel.getRawValue()" class="placeholder">Level in English</div>
            <ng-select class="custom" dropdownPosition="bottom" appearance="underline" #englishLevelSelect
            formControlName="englishLevel">
                <ng-option class="select-option" *ngFor="let level of englishLevelOptions" value="{{level}}">
                    {{level}}
                </ng-option>
            </ng-select>
            <mat-icon class="expand-icon">expand_more</mat-icon>
        </div>
    </div>
    <div class="user-interests-section">
       <div *ngFor="let item of tagsList; let i = index" class="user-interest-content">
            <input type="checkbox" id="{{i}}" [checked]=selectedTags.includes(tagsList[i].icon_name) class="item-checkbox"
                   (change)="selectInterest($event)"/>
            <label class="item-checkbox-label" for="{{i}}">
                <div class="interest-image-container ">
                    <img class="icon" [src]="item.link" alt="image"/>
                </div>
                <div class="interest-image-text">{{item.icon_name}}</div>
            </label>
       </div>
    </div>
    <div class="user-socials-section">
<!--        <div class="form-input-group">-->
<!--            <label class="label" *ngIf="email.getRawValue()">Email</label>-->
<!--            <div *ngIf="!email.getRawValue()" class="placeholder">Email</div>-->
<!--            <input readonly class="input" type="text" id="email" formControlName="email">-->
<!--        </div>-->

<!--        <div class="form-input-group">-->
<!--            <label class="label" *ngIf="instagram.getRawValue()">Instagram</label>-->
<!--            <div *ngIf="!instagram.getRawValue()" class="placeholder">Instagram</div>-->
<!--            <input class="input" type="text" id="instagram" formControlName="instagram">-->
<!--        </div>-->

<!--        <div class="form-input-group">-->
<!--            <label class="label" *ngIf="facebook.getRawValue()">Facebook</label>-->
<!--            <div *ngIf="!facebook.getRawValue()" class="placeholder">Facebook</div>-->
<!--            <input class="input" type="text" id="facebook" formControlName="facebook">-->
<!--        </div>-->

<!--        <div class="form-input-group">-->
<!--            <label class="label" *ngIf="other.getRawValue()">Other</label>-->
<!--            <div *ngIf="!other.getRawValue()" class="placeholder">Other</div>-->
<!--            <input class="input" type="text" id="other" formControlName="other">-->
<!--        </div>-->

        <button type="submit">Save</button>
    </div>
</form>
