.avatar
  display: flex
  justify-content: center
  align-items: center
  border-radius: 50%
  overflow: hidden

.avatar span
  font-weight: bolder
  text-align: center
  font-size: 1rem
  color: white