<div class="container">
    <div class="header">
        <img src="assets/logo/logo.svg" alt="">
        <h1>EasySpeak</h1>
    </div>

    <div class="localVideoContainer">
        <video #localVideo id="localVideo" autoplay></video>
        <p id="localUser">You</p>
        <img id="muted-icon" *ngIf="audioMuted" src="assets/session-call/mic_muted.svg" alt="mic_icon">
    </div>

    <div class="remoteVideoContainer">
        <video #remoteVideo id="remoteVideo" autoplay></video>
        <p id="remoteUser">{{ remoteName }}</p>
    </div>

    <div class="footer">
        <img class="audio-icon" [src]="audioMuted ? 'assets/session-call/mic_muted.svg' : 'assets/session-call/mic.svg'" alt="mic_icon" (click)="toggleTrack('audio')">
        <img src="assets/session-call/hangup_icon.svg" alt="" (click)="closeModal()">
        <img class="video-icon" [src]="videoMuted ? 'assets/session-call/video_muted.svg' : 'assets/session-call/video.svg'" alt="video_icon" (click)="toggleTrack('video')">
    </div>
</div>
