<div class="filters-section-container">
    <div class="btns-wrp">
        <app-dropdown [btnLabel]="this.langBtnLabel" [resetEvent]="this.resetFiltersEvent" [data]="this.langLevels" [selectedItems]="selectedLanguageFilters" (selectedFilters)="updateLangFilters($event)"></app-dropdown>
        <app-interests-dropdown [selectedItems]="selectedInterestsFilters" (selectedInterests)="updateInterestFilters($event)"></app-interests-dropdown>
    </div>
    <div class="selected-filters-wrp">
        <div class="selected-filters-list">
            <div style="margin: 0px;" *ngFor="let selectedTopic of this.selectedLanguageFilters">
                <div *ngIf="selectedTopic" class="selected-filter-item">
                    {{selectedTopic}}
                    <mat-icon (click)="removeLangLevel(selectedTopic)">close</mat-icon>
                </div>
            </div>
            <div *ngFor="let selectedInterest of this.selectedInterestsFilters">
                <div *ngIf="selectedInterest" class="selected-filter-item">
                    {{selectedInterest}}
                    <mat-icon (click)="removeInterest(selectedInterest)">close</mat-icon>
                </div>
            </div>
        </div>
        <button class="close-filters-btn" (click)="resetFilters()">
            Close all
        </button>
    </div>
</div>
