<div class="container">
    <div class="suitable-lesson-container">
        <app-suitable-lesson (dateSelected)="onDateSelected($event)"></app-suitable-lesson>
    </div>
    <div class="filter-container">
        <app-filter-section (selectedLanguageFiltersChange)="onSelectedLanguageFiltersChange($event)"
            (selectedInterestsFiltersChange)="onSelectedInterestsFiltersChange($event)">
        </app-filter-section>
    </div>
    <div class="lessons-container">
        <app-lessons-page [selectedLanguageFilters]="selectedLanguageFilters"
            [selectedInterestsFilters]="selectedInterestsFilters" [selectedDateFilter]="selectedDateFilter">
        </app-lessons-page>
    </div>
</div>
