<div class="container">
    <div class="form-wrp">
        <h1>Create Account</h1>
    <form #userRegisterForm="ngForm" [formGroup]="registerForm" class="form-content" (submit)="submitForm()">
        <div class="form-group-item">
            <input
                type="email"
                formControlName="email"
                placeholder="Email"
                required
                email="{{this.email}}"/>
    
            <div class="errors-wrp">
                <mat-error class="error" *ngIf="this.email.errors?.['required'] 
                && (this.email.dirty || this.userRegisterForm.submitted)">
                    <img src="/assets/user-profile/alert-triangle.svg" alt="">
                    Field is required
                </mat-error>
    
                <mat-error class="error" *ngIf="this.email.errors?.['email'] 
                && (this.email.dirty || this.userRegisterForm.submitted)">
                    <img src="/assets/user-profile/alert-triangle.svg" alt="">
                    Wrong format
                </mat-error>
            </div>
    
            <div class="error-surface" *ngIf="this.email.errors?.['required'] 
                && (this.email.dirty || this.userRegisterForm.submitted)" >
            </div>
    
            <div class="succes-surface" *ngIf="this.email.valid && this.email.value"></div>
        </div>
        
        <div class="name-section">
            <div class="form-group-item">
                <input
                    type="text"
                    formControlName="firstName"
                    placeholder="First Name"/>
    
                <div class="errors-wrp">
                    <mat-error class="error" *ngIf="this.firstName.errors?.['required'] 
                    && (this.firstName.dirty || this.userRegisterForm.submitted)">
                        <img src="/assets/user-profile/alert-triangle.svg" alt="">
                        Field is required
                    </mat-error>
                </div>
        
                <div class="error-surface" *ngIf="this.firstName.errors?.['required'] 
                    && (this.firstName.dirty || this.userRegisterForm.submitted)">
                </div>
        
                <div class="succes-surface" *ngIf="this.firstName.valid && this.firstName.value"></div>
            </div>
        
            <div class="form-group-item">
                <input
                    type="text"
                    formControlName="lastName"
                    placeholder="Last Name"
                    matInput
                    required/>
                
                <div class="errors-wrp">
                    <mat-error class="error" *ngIf="this.lastName.errors?.['required'] 
                    && (this.lastName.dirty || this.userRegisterForm.submitted)">
                        <img src="/assets/user-profile/alert-triangle.svg" alt="">
                        Field is required
                    </mat-error>
                </div>
        
                <div class="error-surface" 
                    *ngIf="this.lastName.errors?.['required'] && (this.lastName.dirty || this.userRegisterForm.submitted)" >
                </div>
                <div class="succes-surface" *ngIf="this.lastName.valid && this.lastName.value"></div>
            </div>
        </div>
        <div class="age-sex-section">
            <div class="form-group-item">
                <ng-select [items]="ages"
                            class="custom" 
                            dropdownPosition="bottom" 
                            appearance="underline" 
                            formControlName="dateOfBirth">
                </ng-select>
    
                <div class="placeholder" *ngIf="!this.dateOfBirth.value">
                    Age
                </div>
    
                <mat-icon class="expand-icon">
                    expand_more
                </mat-icon>
    
                <div class="errors-wrp">
                    <mat-error class="error" 
                        *ngIf="this.dateOfBirth.errors?.['required'] 
                        && (this.dateOfBirth.dirty
                        || this.userRegisterForm.submitted)">
        
                        <img src="/assets/user-profile/alert-triangle.svg" alt="">
                        Field is required
                    </mat-error>
                </div>
        
                <div class="error-surface" *ngIf="this.dateOfBirth.invalid && this.userRegisterForm.submitted"></div>
                <div class="succes-surface" *ngIf="this.dateOfBirth.valid"></div>
            </div>
            <div class="form-group-item">
                <ng-select [items]="sexOptions" 
                            class="custom" 
                            dropdownPosition="bottom" 
                            appearance="underline" 
                            formControlName="sex">
                </ng-select>
    
                <div class="placeholder" *ngIf="!this.sex.value">
                    Sex
                </div>
    
                <mat-icon class="expand-icon">
                    expand_more
                </mat-icon>
    
                <div class="errors-wrp">
                    <mat-error class="error" 
                        *ngIf="this.sex.errors?.['required'] 
                        && (this.sex.dirty
                        || this.userRegisterForm.submitted)">
        
                        <img src="/assets/user-profile/alert-triangle.svg" alt="">
                        Field is required
                    </mat-error>
                </div>
        
                <div class="error-surface" *ngIf="this.sex.invalid && this.userRegisterForm.submitted"></div>
                <div class="succes-surface" *ngIf="this.sex.valid"></div>
            </div>
        </div>
        <div class="form-group-item">
            <ng-select [items]="countries" 
                        class="custom" 
                        dropdownPosition="bottom" 
                        appearance="underline"
                        formControlName="country">
            </ng-select>
    
            <div class="placeholder" *ngIf="!this.country.value">
                Country
            </div>
    
            <mat-icon class="expand-icon">
                expand_more
            </mat-icon>
    
            <div class="errors-wrp">
                <mat-error class="error" 
                    *ngIf="this.country.errors?.['required'] 
                    && (this.country.dirty
                    || this.userRegisterForm.submitted)">
    
                    <img src="/assets/user-profile/alert-triangle.svg" alt="">
                    Field is required
                </mat-error>
            </div>
    
            <div class="error-surface" *ngIf="this.country.invalid && this.userRegisterForm.submitted"></div>
            <div class="succes-surface" *ngIf="this.country.valid"></div>
        </div>
        <div class="form-group-item">
            <ng-select [items]="languages" 
                        class="custom" 
                        dropdownPosition="bottom" 
                        appearance="underline"  
                        formControlName="language">
            </ng-select>
    
            <div class="placeholder" *ngIf="!this.language.value">
                Language
            </div>
    
            <mat-icon class="expand-icon">
                expand_more
            </mat-icon>
    
            <div class="errors-wrp">
                <mat-error class="error" 
                    *ngIf="this.language.errors?.['required'] 
                    && (this.language.dirty
                    || this.userRegisterForm.submitted)">
    
                    <img src="/assets/user-profile/alert-triangle.svg" alt="">
                    Field is required
                </mat-error>
            </div>
    
            <div class="error-surface" *ngIf="this.language.invalid && this.userRegisterForm.submitted"></div>
            <div class="succes-surface" *ngIf="this.language.valid"></div>
        </div>
        <div class="form-group-item">
            <ng-select [items]="englishLevels" 
                        class="custom" 
                        dropdownPosition="bottom" 
                        appearance="underline" 
                        formControlName="languageLevel">
            </ng-select>
    
            <mat-icon class="expand-icon">
                expand_more
            </mat-icon>
            
            <div class="errors-wrp">
                <mat-error class="error" 
                    *ngIf="this.languageLevel.errors?.['required'] 
                    && (this.languageLevel.dirty
                    || this.userRegisterForm.submitted)">
    
                    <img src="/assets/user-profile/alert-triangle.svg" alt="">
                    Field is required
                </mat-error>
            </div>
    
            <div class="error-surface" *ngIf="this.languageLevel.invalid && this.userRegisterForm.submitted"></div>
            <div class="succes-surface" *ngIf="this.languageLevel.valid"></div>
    
            <div class="placeholder" *ngIf="!this.languageLevel.value">
                Level of English
            </div>
        </div>
        <div class="form-group-item">
            <input type="password" 
                formControlName="password" 
                placeholder="Password" 
                required/>
            <div class="errors-wrp">
                <mat-error class="error" *ngIf="this.password.errors?.['pattern']">
                    <img src="/assets/user-profile/alert-triangle.svg" alt="">
                    Should have at least one capital and one small letter
                </mat-error>
    
                <mat-error class="error" *ngIf="this.password.errors?.['required'] && this.password.touched">
                <img src="/assets/user-profile/alert-triangle.svg" alt="">
                Password field is required
            </mat-error>
            </div>
    
            <div *ngIf="this.password.errors?.['pattern']" 
                class="error-surface">
            </div>
    
            <div class="succes-surface" 
                *ngIf="!this.password.errors?.['pattern'] 
                && this.password.value">
            </div>
        </div>
        <div class="form-group-item">
            <input type="password" 
                placeholder="Repeat Password" 
                formControlName="passwordConfirmation" />
    
            <div class="errors-wrp">
                <mat-error class="error" *ngIf="this.registerForm.errors?.['matchError'] 
                && (this.passwordConfirmation.dirty || this.userRegisterForm.submitted)">
                <img src="/assets/user-profile/alert-triangle.svg" alt="">
                    Not match
                </mat-error>
            </div>
    
            <div *ngIf="this.registerForm.invalid 
                && (this.passwordConfirmation.dirty || this.userRegisterForm.submitted)" 
                class="error-surface">
            </div>
    
            <div class="succes-surface" 
                *ngIf="this.registerForm.valid 
                && this.passwordConfirmation.value">
            </div>
        </div>
        <button class="submit-btn" 
                mat-button type="submit">
    
                Create Account
        </button>
    </form>
    </div>
</div>
