@import src/app/modules/auth/auth-page/auth-page.component

#has-account
    position: absolute
    bottom: 30px
    top: auto
    left: 17%
    right: auto
    font-size: 14px
    text-align: center

#has-account span
    color: $gray-300

#has-account a
    text-decoration: none
    color: $time-color

