@import src\styles\colors.sass

::ng-deep *
    margin:0

.sign-up
    background-color: $gray-100
    height: 100vh
    width: 100vw
    position: fixed
    top:0
    left:0
    font-family: 'Barlow'
    font-style: normal

.registration-form
    position: absolute
    left: 198px
    top: 164px
    display: flex
    flex-direction: column
    h1
        font-size: 24px
        line-height: 146%
        color: $main-color

.image-section
    margin-left: 50%
    height: 100%
    width: 50%
    display: flex
    justify-content: center
    align-items: center
    background: repeating-linear-gradient(75deg,$accent-color,$accent-color 1px, rgba(1,1 ,1 , 0) 1px, rgba(1,1 ,1 , 0) 190px), repeating-linear-gradient(166deg,$accent-color,$accent-color 1px, rgba(1,1 ,1 , 0) 1px, rgba(1,1 ,1 , 0) 190px)
    background-color: $main-color

    h1
        color: $white
        font-size: 330%
        line-height: 127.5%
        text-align: center
        text-shadow: -2px 2px 1px $accent-color
    .car-background
        position: absolute
        top: 30%
        right: 30%
        width: 5%
        height: 10%
        top: 46px
        border-radius: 50%
        background: $time-color
        padding: 5px
        opacity: 0.4
    .image
        position: absolute
        top: 10%
        right: 30%
        width: 5%
        height: 10%
        top: 46px
        height: 10%




