<div class="container">
    <div class="form-wrp">
        <h1>Create Account</h1>
        <form #userRegisterForm="ngForm" [formGroup]="registerForm" class="form-content" autocomplete="off" (submit)="submitForm()">

            <div class="form-group-item">
                <input
                    formControlName="email"
                    placeholder="Email"
                    (keyup)="ClearErrors('email')"
                    [ngClass]="{'submitted': inputMap.get('email')}"
                    />
                <div class="errors-wrp"  *ngFor="let condition of ['required','pattern'] ">
                    <mat-error class="error"
                               *ngIf="CheckCondition('email',condition)">
                        <img src="/assets/user-profile/alert-triangle.svg" alt="">
                        {{GetErrorMessageByKey('email'+condition)}}
                    </mat-error>
                </div>
            </div>
            <div class="name-section">
                <div class="form-group-item">
                    <input
                        formControlName="firstName"
                        placeholder="First Name"
                        (keyup)="ClearErrors('firstName')"
                        [ngClass]="{'submitted': inputMap.get('firstName')}"/>
                    <div class="errors-wrp"  *ngFor="let condition of ['required','pattern'] ">
                        <mat-error class="error"
                                   *ngIf="CheckCondition('firstName',condition)">
                            <img src="/assets/user-profile/alert-triangle.svg" alt="">
                            {{GetErrorMessageByKey('name'+condition)}}
                        </mat-error>
                    </div>
                </div>
                <div class="form-group-item">
                    <input
                        formControlName="lastName"
                        placeholder="Last Name"
                        (keyup)="ClearErrors('lastName')"
                        [ngClass]="{'submitted':  inputMap.get('lastName')}"/>
                    <div class="errors-wrp"  *ngFor="let condition of ['required','pattern'] ">
                        <mat-error class="error"
                                   *ngIf="CheckCondition( 'lastName',condition)">
                            <img src="/assets/user-profile/alert-triangle.svg" alt="">
                            {{GetErrorMessageByKey('name'+condition)}}
                        </mat-error>
                    </div>
                </div>
            </div>
            <div class="age-sex-section">
                <div class="form-group-item">
                    <app-calendar id="dateOfBirth" formControlName="dateOfBirth" name="dateOfBirth" placeholder="Date of Birth"></app-calendar>

                    <div class="errors-wrp">
                        <mat-error class="error" *ngIf="this.dateOfBirth.invalid && this.userRegisterForm.submitted">

                            <img src="/assets/user-profile/alert-triangle.svg">
                            {{getErrorMessage(dateOfBirth)}}
                        </mat-error>
                    </div>

                    <div class="error-surface" *ngIf="this.dateOfBirth.invalid && this.userRegisterForm.submitted">
                    </div>
                </div>

                <div class="form-group-item">
                    <ng-select #sexDropdown [items]="sexOptions" class="custom" dropdownPosition="bottom"
                        appearance="underline" formControlName="sex" [ngClass]="{'submitted':  inputMap.get('sex') &&!this.sex.value}">
                    </ng-select>

                    <div class="placeholder" *ngIf="!this.sex.value" (click)="expandSexDropdown()">
                        Sex
                    </div>
                    <mat-icon class="expand-icon" (click)="expandSexDropdown()">
                        expand_more
                    </mat-icon>
                    <div class="errors-wrp" >
                        <mat-error class="error"
                                   *ngIf="CheckCondition( 'sex','required')">
                            <img src="/assets/user-profile/alert-triangle.svg" alt="">
                            {{GetErrorMessageByKey('required')}}
                        </mat-error>
                    </div>
                </div>
            </div>

            <div class="form-group-item">
                <ng-select #countryDropdown [items]="countries" class="custom" dropdownPosition="bottom"
                    appearance="underline" formControlName="country" [ngClass]="{'submitted': inputMap.get('country') &&!this.country.value}">
                </ng-select>

                <div class="placeholder" *ngIf="!this.country.value" (click)="expandCountryDropdown()">
                    Country
                </div>

                <mat-icon class="expand-icon" (click)="expandCountryDropdown()">
                    expand_more
                </mat-icon>

                <div class="errors-wrp">
                    <mat-error class="error" *ngIf="CheckCondition( 'country','required')">
                        <img src="/assets/user-profile/alert-triangle.svg">
                        {{getErrorMessage(country)}}
                    </mat-error>
                </div>

            </div>
            <div class="form-group-item">
                <ng-select #languageDropdown [items]="languages" class="custom" dropdownPosition="bottom"
                    appearance="underline" formControlName="language" [ngClass]="{'submitted': inputMap.get('language') &&!this.language.value}">
                </ng-select>

                <div class="placeholder" *ngIf="!this.language.value" (click)="expandLanguageDropdown()">
                    Language
                </div>

                <mat-icon class="expand-icon" (click)="expandLanguageDropdown()">
                    expand_more
                </mat-icon>

                <div class="errors-wrp">
                    <mat-error class="error" *ngIf="CheckCondition('language','required')">

                        <img src="/assets/user-profile/alert-triangle.svg">
                        {{getErrorMessage(language)}}
                    </mat-error>
                </div>
            </div>
            <div class="form-group-item">
                <ng-select #levelDropdown [items]="languageLevels" class="custom" dropdownPosition="bottom"
                    appearance="underline" formControlName="languageLevel" [ngClass]="{'submitted': inputMap.get('languageLevel') &&!this.languageLevel.value}">
                </ng-select>

                <mat-icon class="expand-icon" (click)="expandLevelDropdown()">
                    expand_more
                </mat-icon>

                <div class="errors-wrp">
                    <mat-error class="error" *ngIf="CheckCondition( 'languageLevel','required')">

                        <img src="/assets/user-profile/alert-triangle.svg">
                        {{getErrorMessage(languageLevel)}}
                    </mat-error>
                </div>
                <div class="placeholder" *ngIf="!this.languageLevel.value" (click)="expandLevelDropdown()">
                    Level of English
                </div>
            </div>
            <div class="form-group-item">
                <input formControlName="password"
                       placeholder="Password"
                       type="password"
                       appPasswordVisibility
                       autocomplete="new-password"
                       (keyup)="ClearErrors('password')"
                       [ngClass]="{'submitted': inputMap.get('password')}"/>
                <div class="errors-wrp"  *ngFor="let condition of ['required','pattern'] ">
                    <mat-error class="error"
                               *ngIf="CheckCondition( 'password',condition)">
                        <img src="/assets/user-profile/alert-triangle.svg" alt="">
                        {{GetErrorMessageByKey('password'+condition)}}
                    </mat-error>
                </div>
            </div>

            <div class="form-group-item">
                <input formControlName="passwordConfirmation"
                       placeholder="Repeat Password"
                       type="password"
                       appPasswordVisibility
                       autocomplete="new-password"
                       (keyup)="ClearErrors('passwordConfirmation')"
                       [ngClass]="{'submitted':inputMap.get('passwordConfirmation')}"/>
                <div class="errors-wrp"  *ngFor="let condition of ['required','matchError'] ">
                    <mat-error class="error"
                               *ngIf="CheckCondition( 'passwordConfirmation',condition)">
                        <img src="/assets/user-profile/alert-triangle.svg" alt="">
                        {{GetErrorMessageByKey('passwordConfirmation'+condition)}}
                    </mat-error>
                </div>
            </div>
            <button class="submit-btn" mat-button type="submit">
                Create Account
            </button>
        </form>
    </div>
    <div id="has-account">
        <span>I have an account! </span>
        <a (click)="redirectToSignIn()">Sign In</a>
    </div>
</div>
