<div class="sign-up">
    <form name="authForm" #authForm="ngForm" class="registration-form">
        <h1>Create Account</h1>
        <mat-error *ngIf="submitted">{{ getEmailErrorMessage() }}</mat-error>
        <label>
            <input
                type="text"
                [(ngModel)]="email"
                matInput
                required
                placeholder="Email"
                [ngModelOptions]="{ standalone: true }" />
        </label>

        <div class="name-section">
            <label>
                <mat-error *ngIf="submitted">{{ getNameErrorMessage('firstName') }}</mat-error>
                <input
                    type="text"
                    [(ngModel)]="firstName"
                    #inFirstName="ngModel"
                    matInput
                    placeholder="First Name"
                    [ngModelOptions]="{ standalone: true }" />
            </label>

            <label>
                <mat-error *ngIf="submitted">{{ getNameErrorMessage('lastName') }}</mat-error>
                <input
                    type="text"
                    [(ngModel)]="lastName"
                    #LastName="ngModel"
                    matInput
                    required
                    placeholder="Last Name"
                    [ngModelOptions]="{ standalone: true }" />
            </label>
        </div>
        <div class="age-sex-section">
            <select required>
                <option>Age</option>
                <option *ngFor="let age of Ages">{{ age }}</option>
            </select>
            <select required>
                <option>Sex</option>
                <option>Male</option>
                <option>Female</option>
            </select>
        </div>
        <select required>
            <option>Country</option>
            <option *ngFor="let country of Countries">{{ country }}</option>
        </select>
        <select required>
            <option>Native Language</option>
            <option>Ukrainian</option>
        </select>
        <select required>
            <option>Level in English</option>
            <option *ngFor="let level of EnglishLevels">{{ level }}</option>
        </select>
        <label>
            <mat-error *ngIf="submitted">{{ getPasswordErrorMessage() }}</mat-error>
            <input
                type="password"
                [(ngModel)]="password"
                #upPassword="ngModel"
                required
                placeholder="Password"
                [ngModelOptions]="{ standalone: true }" />
        </label>
        <label>
            <mat-error *ngIf="submitted">{{ getConfirmPasswordErrorMessage() }}</mat-error>
            <input
                type="password"
                [(ngModel)]="confirmPassword"
                placeholder="Repeat The Password"
                [ngModelOptions]="{ standalone: true }" />
        </label>
        <button mat-button (click)="validation()">Create Account</button>
        <div id="has-account">
            <span>I have an account! </span>
            <a href="auth/sign-in">Sign In</a>
        </div>
    </form>
    <div class="image-section">
        <div class="car-background"></div>
        <img class="car" src="assets/topic-icons/Racing Car.svg" />

        <div class="camera-background"></div>
        <img class="camera" src="assets/topic-icons/Camera.svg" />

        <div class="clover-background"></div>
        <img class="clover" src="assets/topic-icons/Four Leaf Clover.svg" />

        <div class="cook-background"></div>
        <img class="cook" src="assets/topic-icons/Cook.svg" />

        <div class="dancing-background"></div>
        <img class="dancing" src="assets/topic-icons/Woman Dancing.svg" />

        <div class="dancing-background"></div>
        <img class="dancing" src="assets/topic-icons/Woman Dancing.svg" />

        <div class="dog-background"></div>
        <img class="dog" src="assets/topic-icons/Dog Face.svg" />

        <div class="monocle-face-background"></div>
        <img class="monocle-face" src="assets/topic-icons/Face With Monocle.svg" />
        <h1>
            Learn English
            <div>With Logo</div>
        </h1>
    </div>
</div>
