@import src/app/modules/auth/auth-page/auth-page.component

#has-account
    position: absolute
    width: 100%
    display: flex
    justify-content: center
    bottom: 30px

#has-account span
    color: $gray-300

#has-account a
    cursor: pointer
    text-decoration: none
    color: $turquoise-100
    margin-left: 10px

.form-content
    display: grid
    grid-template-rows: repeat(9, 5vh)
    grid-template-columns: 24vw
    gap: 20px

:host::ng-deep.mat-mdc-form-field-input-control
    margin-top: 8px !important

.submitted.ng-invalid
    box-shadow: 0px 2px 6px $error-color
    border-radius: 50px
input.ng-touched.ng-valid:focus
    box-shadow: 0px 2px 6px $turquoise-100

.ng-value-container
    box-shadow: 0px 2px 6px $turquoise-100

::ng-deep.ng-select:focus-visible
    box-shadow: 0px 2px 6px $turquoise-100

::ng-deep.ng-value-container, ::ng-deep.ng-value
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    max-width: 85% !important
