<div class="container" (appClickOutside)="clickedOutside()">
    <div class="dropdown-btn" (click)="showDropdownMenu()">
        <div class="filters-count-group">
            <div class="filters-count-val">
                {{selectedItems.length || 0}}
            </div>
        </div>
        <div *ngIf="selectedItems.length !== 1" class="dropdown-btn-title">
            {{getFullTitle()}}
        </div>
        <div *ngIf="selectedItems.length === 1" class="dropdown-btn-title-when-selected">
            {{getFullTitle()}}
        </div>
        <div *ngIf="selectedItems.length === 1" class="dropdown-btn-subtitle">
            {{btnLabel}}
        </div>
        <div class="dropdown-btn-icon">
            <img class="arrow-icon" src="assets/interestsDropdown/chevron_down.svg"/>
        </div>
    </div>
    <div *ngIf="showDropdown" class="dropdown-wrp">
        <div *ngFor="let item of data">
            <div class="dropdown-item">
                <div class="dropdown-item-content">
                    <div class="dropdown-input">
                        <input [type]="type" [checked]="selectedItems.includes(item.title)"
                               (click)="selectItem(item.title)">
                    </div>
                    <div class="dropdown-item-info">
                        <div *ngIf="item.subtitle" class="item-info-title">
                            {{item.title + ' : ' + item.subtitle}}
                        </div>
                        <div *ngIf="!item.subtitle">
                            {{item.title}}
                        </div>
                        <div *ngIf="item.description" class="item-info-subtitle">
                            {{item.description}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
